
<!DOCTYPE html>
<meta charset="utf8">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>全国新型肺炎疫情追踪专题-有来医生</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="always" name="referrer">
    <meta name="ip-enabled" content="true">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    <script src="//static.youlai.cn/js/newcommon/javascript/jquery1.11.1.min.js" type="text/javascript"></script>

    <link href="//static.youlai.cn/css/zt/2001/epidemic/common.rem.css" rel="stylesheet" type="text/css">
    <link href="//static.youlai.cn/css/zt/2001/epidemic/index0205.css" rel="stylesheet" type="text/css">
    <!--自写css-->
    <link href="../../css/app/fightingTheOutbreak/personalProtection.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .fix-wrap-bottom{z-index: 100;}
    </style>
    <script>
        //声明_czc对象:
        var _czc = _czc || [];
        //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
        _czc.push(["_setAccount", "1274191321"]);
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8b53bc0f3e59f56a58a92a894280e28d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274191321'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274191321' type='text/javascript'%3E%3C/script%3E"));
</script>
<section class="box-max-width">
    <!-- banner start -->
    <div class="banner-wrap pos-r">
        <!-- 注意：此 img 引用图片与其他二级页图片不同 -->
        <img src="//static.youlai.cn/images/zt/2001/epidemic/banner_two_01_240.jpg" class="block100">
        <div class="banner-yllogo"></div>
        <dl class="banner-title banner-title-mask">
            <dd><span id="bannerName">新型冠状病毒肺炎</span></dd>
            <dt>洗手规范</dt>
        </dl>
    </div>
    <!-- banner end -->
    <!-- tab start -->
    <div class="tab-wrap">
        <!-- 此处直接从模板  piyao.tpl 粘过来的 -->
        <div class="tab-nav-wrap-all">
            <div class="tab-nav-wrap list-flex">
                <div class="tab-index"><a href="/whfy">疫情首页</a></div>
                <div class="list-bd">
                    <ul class="tab-nav list-flex">
                        <li class="list-bd"><span><a href="/whfy/index?type=1">疾病知识</a></span></li>
                        <li class="list-bd"><span><a href="/whfy/index?type=2">实时数据</a><i class="new"></i></span></li>
                        <li class="list-bd"><span><a href="/whfy/index?type=3">在线义诊</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- tab end -->

    <!-- tips start -->
    <div class="mask-tips-wrap">
        <dl class="mask-tips list-flex-in">
            <dt></dt>
            <dd class="list-bd">由中华医学会科普分会 · 有来医生 审核通过</dd>
        </dl>
    </div>
    <!-- tips end -->
    <!-- list start -->
    <div class="mask-list-wrap">
        <div class="mask-list-in" id="news_data">




            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343421.html"> 什么情况下必须洗手 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343421.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/83/11/4083E3350489474A21955D56BBCB8311.png" class="block100">


                                在没有洗手之前，千万不要碰触脸、眼睛及口鼻，尤其吃东西前、如厕后、擤鼻涕后、戴口罩前、就医前后、处理食材前后，以及接触动物前后，一定要记得有效洗手，以免病毒入侵。处理食材前后：准备烹饪的食材之前与之后，应及时洗手。就医前后：医院环境容易存在病菌，就医前后洗手，可避免将细菌带入医院，或把病菌带回家。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343421.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/344871.html"> 用什么洗手 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/344871.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/DC/93/D8F2BEA9A9EC940948A7B1409D9FDC93.jpeg" class="block100">


                                此外，在餐前、便后、外出回家、接触垃圾、抚摸动物后，要勤洗手，避免用手触摸眼睛、鼻或口。如果不便于用清水洗手，还可使用含酒精成分的免洗洗手液。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/344871.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343417.html"> 如何挑选洗手液 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343417.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/85/6B/104A6102D83DD9AEC32968AF666B856B.png" class="block100">


                                洗手液根据不同的功能可以分为三大类：普通洗手液、抗（抑）菌洗手液和免洗手消毒液（包括消毒凝胶等）。普通的洗手液的主要作用是去污清洁，可以有效减少手部病原微生物的数量；抗（抑）菌洗手液，分为抑菌型和抗菌型，除了去污清洁，还有一定的杀菌、抑菌作用；免洗手消毒液（包括首消毒凝胶）应符合《GB27950-2011手消毒剂卫生要求》，取适量的手消毒剂于手心,双手互搓使均匀涂布每个部位，作用1-5分钟，可有效杀灭手部病原微生物，使用方法比较简单。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343417.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343427.html"> 如何正确洗手 </a ></h3>
                    <div class="mask-li-con">

                        <video id="play_343427"  onplay="videoPlay(id);upView(343427)" controls="controls" poster="//file.youlai.cn/cnkfile1/M02/BC/76/77AF657398E53E52A87EF6943589BC76.jpeg" x-webkit-airplay="true" x5-playsinline="true" webkit-playsinline="true" playsinline="true" >
                            <source src="https://yl.vodjk.com/4cd5c90f2bc74de28c8fcc884b62f9c6/36ac53627e9741598fbe708789277f6d-bda8f770f2a1a98e30c7906082589637-sd.mp4">
                        </video>



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343427.html">


                                规范洗手都是阻断疾病传播的最有效、简单的方法之一。我们需要勤用肥皂（或洗手液）和流动的清水洗手，打完肥皂或洗手液后要双手揉搓40s以上，揉出丰富的泡沫。如何正确洗手？我们需要勤用肥皂（或洗手液）和流动的清水洗手，打完肥皂或洗手液后要双手揉搓40s以上，揉出丰富的泡沫。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343427.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/344854.html"> 如何引导孩子洗手  </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/344854.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/73/B8/493D77515FE8D371BA0C71B76AE373B8.jpeg" class="block100">


                                掌心相对，手指并拢，相互揉搓。手心对手背沿指缝相互揉搓，交换进行。掌心相对，双手交叉指缝相互揉搓。弯曲手指，使指关节在另一手掌心旋转揉搓，交换进行。右手握住左手大拇指旋转揉搓，交换进行。将五个手指尖并拢放在另一手掌心旋转揉搓，交换进行。认真搓双手至少15秒。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/344854.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>








        </div>
    </div>
    <!-- list end -->

    <input type="hidden" id = "curpage" name="curpage" value="1">
    <p id="tinfo" class="tinfo">上滑加载更多...</p>
    <div id="end" class="bromptbottom" style="display:none"><span>已经到底啦</span></div>
    <!-- 内容 end -->




    <!-- 0130调整5 1/3 ************************ start -->
    <!--  底部悬浮 返回及分享 start -->
    <div class="bottom-height-2 bottom-wx" style="display: none"></div>
    <div class="fix-wrap-bottom bottom-wx" style="display: none">
        <div class="fix-wrap-bottom-in box-max-width list-flex-in">
            <a href="/whfy" class="fix-bottom-go">
                <span>返回</span>
            </a>
            <a href="javascript:;" class="fix-bottom-share share-btn" >
                <span>分享给所有人</span>
            </a>
        </div>
    </div>
    <!-- 底部悬浮 返回及分享 end -->
    <!-- 分享 -->
    <div class="fix-share" style="display: none;"><span>点击右上角更多 <br>把专题分享给亲朋好友</span></div>
    <!-- 分享 -->
    <!-- 0130调整5 ************************ end -->
</section>

<script type="text/javascript">
    // 视频播放
    function videoPlay(id){
        $("#"+id).parents(".mask-li").siblings(".mask-li").find("video").not($(this)).trigger("pause"); // 视频暂停
    }

    var tabTop;
    window.onload =function(){
        tabShow();
    };
    $(window).scroll(function(){
        tabShow();
    });
    // nav show / hide
    function tabShow(){
        tabTop = parseInt($(".tab-wrap").offset().top);
        if($(window).scrollTop()>tabTop){
            $(".tab-nav-wrap").addClass("tab-fix");
        }else{
            $(".tab-nav-wrap").removeClass("tab-fix");
        }
    }

    $(function(){
        $("#bannerName").html("新型冠状病毒肺炎"); // banner的标签
        // 收藏提示 隐藏
        $(".top-tips-collection").click(function(){
            $(this).hide();
        });
        //微信浏览器
        isWeiXin();
        //uc浏览器
        if(navigator.userAgent.indexOf('UCBrowser') > -1) {
            $('title').html('全国新型肺炎疫情追踪专题')
        }

        //返回按钮链接
        if (document.referrer) {
            $('.fix-bottom-go').attr('href', 'javascript:history.go(-1)');
        }else{
            // 没有来源页面信息的时候，改成首页URL地址
            $('.fix-bottom-go').attr('href', '/whfy');
        }

    });

    // 0130调整5 3/3 ********************* start
    // 点击 显示分享提示框
    $(".share-btn").click(function(){
        $("#layerShare").hide();
        $(".fix-share").show();
    });
    //close
    $(".fix-share").click(function(){
        $(this).hide();
    });
    // 0130调整5 3/3 ********************* end

    //20200131
    function isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
            $(".bottom-wx").show();
        }else{
            $(".bottom-wx").hide();
        }

    }
</script>


<script src="//res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script>
    _czc.push(['_trackEvent','武汉肺炎','文章-洗手规范-聚合']);// u盟统计
    var def_data ={"title":"洗手规范指南--新型肺炎疫情防护必看！","desc":"最新疫情进展，科普知识汇总，医生在线义诊","imgUrl":"http:\/\/file.youlai.cn\/cnkfile1\/M02\/5E\/3C\/55088944F9ABE4A29854B14CD1535E3C.png","link":"https:\/\/m.youlai.cn\/whfy\/juhe?kw=%E6%B4%97%E6%89%8B%E8%A7%84%E8%8C%83"}
    var time = Date.parse(new Date());
    $.ajax({
        type: 'POST',
        async: false,
        url: '/m/wxshareconfignew/?' + time,
        success: function (result) { var obj = result ;
            appid = obj.data.appid;
            console.log(appid)
            timestamp = obj.data.timestamp;
            console.log(timestamp)
            noncestr = obj.data.noncestr;
            console.log(noncestr)
            signature = obj.data.signature;
            console.log(signature)
            wxshare(appid,timestamp,noncestr,signature);
        }
    });
    function wxshare(appid,timestamp,noncestr,signature){
        wx.config({
            debug: false,
            appId: appid,
            timestamp: timestamp,
            nonceStr: noncestr,
            signature: signature,
            jsApiList: [
                'updateAppMessageShareData',
                'updateTimelineShareData',
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function () {
            var shareContentLine ={
                title: def_data.title, // 分享标题
                link: def_data.link, // 分享链接
                imgUrl: def_data.imgUrl, // 分享图标
                success: function (res) {
                    $(".fix-share").hide();
                }
            };
            var shareContentMessage ={
                title: def_data.title, // 分享标题
                desc: def_data.desc,
                link: def_data.link, // 分享链接
                imgUrl: def_data.imgUrl, // 分享图标
                success: function (res) {
                    $(".fix-share").hide();
                }
            };
            //分享朋友圈
            wx.updateTimelineShareData(shareContentLine);
            //分享给朋友
            wx.updateAppMessageShareData(shareContentMessage);
            //分享到QQ
            // wx.onMenuShareQQ(shareContentMessage);
            //分享到QQ空间
            //wx.onMenuShareQZone(shareContentLine);
        });
    }
</script>


<script>
    if(1 == 1 || 1==0){
        $('#tinfo').remove();
        $('#end').remove();
    }
    var stop = true;
    $(window).scroll(function () {
        totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
        if (stop) {
            if ($(document).height()-100 <= totalheight) {
                var curpage = $('input[name=curpage]').val();
                var page = parseInt(curpage) + 1;
                if (curpage < 1) {
                    stop = false;
                    $.ajax({
                        type: 'get',
                        url: "/whfy/juhe?kw=洗手规范&page=" + page + "&isapi=1",
                        success: function (nextResult) {
                            var newpage = parseInt(curpage) + 1;
                            $('input[name=curpage]').val(newpage);
                            var next_rData = nextResult;
                            $('#news_data').append(next_rData);
                            stop = true;
                        }
                    });

                }else if(curpage == '1'){
                    $('#tinfo').remove();
                    $('#end').show();
                }
            }
        }
    });
</script>

<script type="text/javascript">
    //点击增加播放量
    function upView(aid){
        if(aid<0){
            return;
        }
        $.post("/whfy/article/"+aid,{'id':aid,'ismater':1},function (ret) {
            if(ret.num){
                // $("#"+aid+"_views").text(ret.num)
            }
        },'JSON');
    }
</script>
</body>
</html>