
<!DOCTYPE html>
<meta charset="utf8">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>全国新型肺炎疫情追踪专题-有来医生</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="always" name="referrer">
    <meta name="ip-enabled" content="true">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    <script src="//static.youlai.cn/js/newcommon/javascript/jquery1.11.1.min.js" type="text/javascript"></script>

    <link href="//static.youlai.cn/css/zt/2001/epidemic/common.rem.css" rel="stylesheet" type="text/css">
    <link href="//static.youlai.cn/css/zt/2001/epidemic/index0205.css" rel="stylesheet" type="text/css">
    <!--自写css-->
    <link href="../../css/app/fightingTheOutbreak/personalProtection.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .fix-wrap-bottom{z-index: 100;}
    </style>
    <script>
        //声明_czc对象:
        var _czc = _czc || [];
        //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
        _czc.push(["_setAccount", "1274191321"]);
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8b53bc0f3e59f56a58a92a894280e28d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274191321'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274191321' type='text/javascript'%3E%3C/script%3E"));
</script>
<section class="box-max-width">
    <!-- banner start -->
    <div class="banner-wrap pos-r">
        <!-- 注意：此 img 引用图片与其他二级页图片不同 -->
        <img src="//static.youlai.cn/images/zt/2001/epidemic/banner_two_01_240.jpg" class="block100">
        <div class="banner-yllogo"></div>
        <dl class="banner-title banner-title-mask">
            <dd><span id="bannerName">新型冠状病毒肺炎</span></dd>
            <dt>消毒方法</dt>
        </dl>
    </div>
    <!-- banner end -->
    <!-- tab start -->
    <div class="tab-wrap">
        <!-- 此处直接从模板  piyao.tpl 粘过来的 -->
        <div class="tab-nav-wrap-all">
            <div class="tab-nav-wrap list-flex">
                <div class="tab-index"><a href="/whfy">疫情首页</a></div>
                <div class="list-bd">
                    <ul class="tab-nav list-flex">
                        <li class="list-bd"><span><a href="/whfy/index?type=1">疾病知识</a></span></li>
                        <li class="list-bd"><span><a href="/whfy/index?type=2">实时数据</a><i class="new"></i></span></li>
                        <li class="list-bd"><span><a href="/whfy/index?type=3">在线义诊</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- tab end -->

    <!-- tips start -->
    <div class="mask-tips-wrap">
        <dl class="mask-tips list-flex-in">
            <dt></dt>
            <dd class="list-bd">由中华医学会科普分会 · 有来医生 审核通过</dd>
        </dl>
    </div>
    <!-- tips end -->
    <!-- list start -->
    <div class="mask-list-wrap">
        <div class="mask-list-in" id="news_data">




            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/344878.html"> 消毒方法有哪些 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/344878.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/10/68/7574813B1461C27CB9D47A2EF7D61068.jpeg" class="block100">


                                疫情爆发以来，外出戴口罩、尽量少出门等预防措施，已逐渐被人们所接受。除了这两项预防措施，做好消毒工作也很重要。因为疫情期间，每一次外出都有可能从外面携带有害微生物回家，而做好适度的消毒，则能够让我们“防患于未然”。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/344878.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343606.html"> 消毒液的配制方法 </a ></h3>
                    <div class="mask-li-con">

                        <video id="play_343606"  onplay="videoPlay(id);upView(343606)" controls="controls" poster="//file.youlai.cn/cnkfile1/M02/12/ED/EF760420C29D31C68B52CB3EE65B12ED.jpeg" x-webkit-airplay="true" x5-playsinline="true" webkit-playsinline="true" playsinline="true" >
                            <source src="https://yl.vodjk.com/f5c0ce87142e4f70a0d98a02ec910245/cdf75b55ff7348d09dfa3ef0f577395e-32fdf110c731a7b913f64be53830c47b-sd.mp4">
                        </video>



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343606.html">


                                针对此次新型冠状病毒肺炎，适合居家消毒的物品只有两种，即含氯消毒液和酒精，网络盛传的醋、熏艾等都是没有用的。还有一点需要特别注意，消毒液并不是浓度越高越好。浓度过高，在接触到细菌时，会使细菌外围的蛋白瞬间凝固，反而形成一道阻碍，会阻挡后续的消毒液进入，不能达到完全杀死细菌的作用。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343606.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343524.html"> 外出后回家如何消毒 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343524.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/A8/F7/965DA6C3CA7DC16737DDF57DE6B8A8F7.jpeg" class="block100">


                                新型冠状病毒肺炎疫情正处在爬坡期，随着确诊人数和疑似病例的不断刷新，外出戴口罩、尽量少出门等预防措施，已逐渐被人们所接受。但如果偶尔需要外出，回家后该如何做好消毒？用肥皂或洗手液及时洗手，将手腕、手背、手心、手指缝等处搓洗30秒左右，注意一定要用流动的水冲洗，并用纸巾将手擦干。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343524.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343540.html"> 居家生活如何消毒 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343540.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/C4/81/959B62314B43F9919FF03D0CFF16C481.png" class="block100">


                                新型冠状病毒肺炎疫情，牵动了亿万大众的心，全国多省采取了一级响应方案，各地有很多密切接触人员采用居家隔离医学观察。那么隔离的房间如何设置？如何消毒？生活用品如何处理？
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343540.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343400.html"> 居家隔离如何消毒 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343400.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/71/E1/42E7902639602C3C3A04E47A5E6471E1.png" class="block100">


                                环境消毒：用含氯消毒液（如84消毒液）每天至少消毒房间一次；用品消毒：戴手套和口罩，每天至少消毒一次；餐具消毒：煮沸15分钟或用含氯消毒液浸泡30分钟，再用清水漂洗干净。空调不推荐作为通风工具，尤其不要使用和其他房间共通的中央空调，以免隔离区域的污染空气在室内串流。取暖建议用电暖器。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343400.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343404.html"> 家有疑似患者如何消毒 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343404.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/5D/B9/38038A0252172F035867610A21F15DB9.png" class="block100">


                                家人若有疑似症状，建议您先简单评估一下病情，体温没有超过38℃，可在家观察休息后1-2天，若病情无好转，需就近去设有发热门诊的医院就诊。近日，国家卫健委专家组成员、中国疾病预防控制中心主任高福特别提醒：新冠肺炎已走过三个阶段，动物到人，有限人到人，再到人到人传播。要加强防护措施，民众应该意识到春节应少串门，尽量居家。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343404.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343426.html"> 家有病人如何消毒 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343426.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/C8/18/01EE46CEAC852C6E88489A7088CAC818.png" class="block100">


                                针对消毒对象和消毒现场的不同，选择合适的消毒方法，对疫源地进行化学消毒时应选用含氯类、过氧化物类等高效消毒剂，按照作用浓度和作用时间进行消毒，以确保消毒效果。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343426.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/344847.html"> 家有老人如何消毒 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/344847.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/DF/2F/76170879F709D7D477B7A6548AA5DF2F.jpeg" class="block100">


                                因老年人的呼吸道较为敏感、脆弱，如果家中无病人，做好日常防护即可。如果一定要消毒，需选择对呼吸道刺激较小的产品，如75％浓度的酒精棉片或酒精，手、皮肤消毒也可选择碘伏及其他含氯消毒剂。若老年人患有哮喘，则含氯消毒液可能会对其造成影响，需慎重选择。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/344847.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/344848.html"> 儿童物品如何消毒  </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/344848.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/4D/D3/D5DEDD60461E5CA07ED977850F8C4DD3.jpeg" class="block100">


                                推荐使用含氯消毒剂和过氧乙酸消毒剂，每天频繁清洁、消毒经常触碰的物品，如桌椅板凳、床头柜等。餐具使用后应使用洗涤剂和清水清洗，饭前便后勤洗手。手、皮肤建议选择有效的消毒剂，如碘伏、含氯消毒剂和过氧化氢消毒剂等手皮肤消毒剂或速干手消毒剂擦拭消毒。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/344848.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343592.html"> 手机和钥匙该如何消毒 </a ></h3>
                    <div class="mask-li-con">

                        <video id="play_343592"  onplay="videoPlay(id);upView(343592)" controls="controls" poster="//file.youlai.cn/cnkfile1/M02/11/7E/EC16DF0F7F1BB435DED47EEA05C4117E.jpeg" x-webkit-airplay="true" x5-playsinline="true" webkit-playsinline="true" playsinline="true" >
                            <source src="https://yl.vodjk.com/e195068973cc4b45ad189beee4ae88c1/77083b47911a425ea2d8944fce90b1f0-f919cf5b85297983cc8af006e9a1c430-sd.mp4">
                        </video>



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343592.html">


                                手机和钥匙是我们出门必备的两件物品，出门回来后必须对其进行消毒。那么如何进行消毒呢？第一，手机消毒：擦拭时，要沿着一个方向，正面、背面和侧边都要擦到；手机壳也要擦一遍；最后放到一边自然晾干即可。第二，擦拭钥匙：擦拭时要面面俱到，包括钥匙、配饰和圆环。


                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343592.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>








        </div>
    </div>
    <!-- list end -->

    <input type="hidden" id = "curpage" name="curpage" value="1">
    <p id="tinfo" class="tinfo">上滑加载更多...</p>
    <div id="end" class="bromptbottom" style="display:none"><span>已经到底啦</span></div>
    <!-- 内容 end -->




    <!-- 0130调整5 1/3 ************************ start -->
    <!--  底部悬浮 返回及分享 start -->
    <div class="bottom-height-2 bottom-wx" style="display: none"></div>
    <div class="fix-wrap-bottom bottom-wx" style="display: none">
        <div class="fix-wrap-bottom-in box-max-width list-flex-in">
            <a href="/whfy" class="fix-bottom-go">
                <span>返回</span>
            </a>
            <a href="javascript:;" class="fix-bottom-share share-btn" >
                <span>分享给所有人</span>
            </a>
        </div>
    </div>
    <!-- 底部悬浮 返回及分享 end -->
    <!-- 分享 -->
    <div class="fix-share" style="display: none;"><span>点击右上角更多 <br>把专题分享给亲朋好友</span></div>
    <!-- 分享 -->
    <!-- 0130调整5 ************************ end -->
</section>

<script type="text/javascript">
    // 视频播放
    function videoPlay(id){
        $("#"+id).parents(".mask-li").siblings(".mask-li").find("video").not($(this)).trigger("pause"); // 视频暂停
    }

    var tabTop;
    window.onload =function(){
        tabShow();
    };
    $(window).scroll(function(){
        tabShow();
    });
    // nav show / hide
    function tabShow(){
        tabTop = parseInt($(".tab-wrap").offset().top);
        if($(window).scrollTop()>tabTop){
            $(".tab-nav-wrap").addClass("tab-fix");
        }else{
            $(".tab-nav-wrap").removeClass("tab-fix");
        }
    }

    $(function(){
        $("#bannerName").html("新型冠状病毒肺炎"); // banner的标签
        // 收藏提示 隐藏
        $(".top-tips-collection").click(function(){
            $(this).hide();
        });
        //微信浏览器
        isWeiXin();
        //uc浏览器
        if(navigator.userAgent.indexOf('UCBrowser') > -1) {
            $('title').html('全国新型肺炎疫情追踪专题')
        }

        //返回按钮链接
        if (document.referrer) {
            $('.fix-bottom-go').attr('href', 'javascript:history.go(-1)');
        }else{
            // 没有来源页面信息的时候，改成首页URL地址
            $('.fix-bottom-go').attr('href', '/whfy');
        }

    });

    // 0130调整5 3/3 ********************* start
    // 点击 显示分享提示框
    $(".share-btn").click(function(){
        $("#layerShare").hide();
        $(".fix-share").show();
    });
    //close
    $(".fix-share").click(function(){
        $(this).hide();
    });
    // 0130调整5 3/3 ********************* end

    //20200131
    function isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
            $(".bottom-wx").show();
        }else{
            $(".bottom-wx").hide();
        }

    }
</script>


<script src="//res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script>
    _czc.push(['_trackEvent','武汉肺炎','文章-消毒方法-聚合']);// u盟统计
    var def_data ={"title":"消毒方法指南--新型肺炎疫情防护必看！","desc":"最新疫情进展，科普知识汇总，医生在线义诊","imgUrl":"http:\/\/file.youlai.cn\/cnkfile1\/M02\/5E\/3C\/55088944F9ABE4A29854B14CD1535E3C.png","link":"https:\/\/m.youlai.cn\/whfy\/juhe?kw=%E6%B6%88%E6%AF%92%E6%96%B9%E6%B3%95"}
    var time = Date.parse(new Date());
    $.ajax({
        type: 'POST',
        async: false,
        url: '/m/wxshareconfignew/?' + time,
        success: function (result) { var obj = result ;
            appid = obj.data.appid;
            console.log(appid)
            timestamp = obj.data.timestamp;
            console.log(timestamp)
            noncestr = obj.data.noncestr;
            console.log(noncestr)
            signature = obj.data.signature;
            console.log(signature)
            wxshare(appid,timestamp,noncestr,signature);
        }
    });
    function wxshare(appid,timestamp,noncestr,signature){
        wx.config({
            debug: false,
            appId: appid,
            timestamp: timestamp,
            nonceStr: noncestr,
            signature: signature,
            jsApiList: [
                'updateAppMessageShareData',
                'updateTimelineShareData',
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function () {
            var shareContentLine ={
                title: def_data.title, // 分享标题
                link: def_data.link, // 分享链接
                imgUrl: def_data.imgUrl, // 分享图标
                success: function (res) {
                    $(".fix-share").hide();
                }
            };
            var shareContentMessage ={
                title: def_data.title, // 分享标题
                desc: def_data.desc,
                link: def_data.link, // 分享链接
                imgUrl: def_data.imgUrl, // 分享图标
                success: function (res) {
                    $(".fix-share").hide();
                }
            };
            //分享朋友圈
            wx.updateTimelineShareData(shareContentLine);
            //分享给朋友
            wx.updateAppMessageShareData(shareContentMessage);
            //分享到QQ
            // wx.onMenuShareQQ(shareContentMessage);
            //分享到QQ空间
            //wx.onMenuShareQZone(shareContentLine);
        });
    }
</script>


<script>
    if(2 == 1 || 2==0){
        $('#tinfo').remove();
        $('#end').remove();
    }
    var stop = true;
    $(window).scroll(function () {
        totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
        if (stop) {
            if ($(document).height()-100 <= totalheight) {
                var curpage = $('input[name=curpage]').val();
                var page = parseInt(curpage) + 1;
                if (curpage < 2) {
                    stop = false;
                    $.ajax({
                        type: 'get',
                        url: "/whfy/juhe?kw=消毒方法&page=" + page + "&isapi=1",
                        success: function (nextResult) {
                            var newpage = parseInt(curpage) + 1;
                            $('input[name=curpage]').val(newpage);
                            var next_rData = nextResult;
                            $('#news_data').append(next_rData);
                            stop = true;
                        }
                    });

                }else if(curpage == '2'){
                    $('#tinfo').remove();
                    $('#end').show();
                }
            }
        }
    });
</script>

<script type="text/javascript">
    //点击增加播放量
    function upView(aid){
        if(aid<0){
            return;
        }
        $.post("/whfy/article/"+aid,{'id':aid,'ismater':1},function (ret) {
            if(ret.num){
                // $("#"+aid+"_views").text(ret.num)
            }
        },'JSON');
    }
</script>
</body>
</html>