<!DOCTYPE html>
<meta charset="utf8">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>全国新型肺炎疫情追踪专题-有来医生</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="always" name="referrer">
    <meta name="ip-enabled" content="true">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    <script src="//static.youlai.cn/js/newcommon/javascript/jquery1.11.1.min.js" type="text/javascript"></script>

    <link href="//static.youlai.cn/css/zt/2001/epidemic/common.rem.css" rel="stylesheet" type="text/css">
    <link href="https://static.youlai.cn/css/newcommon/swiper/swiper4.2.2.min.css" rel="stylesheet" type="text/css">
    <link href="//static.youlai.cn/css/zt/2001/epidemic/index0206.css" rel="stylesheet" type="text/css">
    <!--自写css-->
    <link href="../../css/app/fightingTheOutbreak/personalProtection.css" rel="stylesheet" type="text/css">
    <script>
        //声明_czc对象:
        var _czc = _czc || [];
        //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
        _czc.push(["_setAccount", "1274191321"]);
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8b53bc0f3e59f56a58a92a894280e28d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274191321'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274191321' type='text/javascript'%3E%3C/script%3E"));
</script>
<section class="box-max-width">
    <!-- 0130调整7 1/2 top tips start -->
    <div class="top-tips-wrap">
        <h3>本专题由中国科协科普部、UC浏览器、有来医生联合出品</h3>
        <p>感谢中国医师协会健康传播工作委员会大力支持</p>
    </div>
    <!-- top tips end -->
    <!-- banner start -->
    <div class="banner-wrap pos-r">
        <!-- banner.png 改为 banner_two_01.jpg 20200201 lili -->
        <img src="//static.youlai.cn/images/zt/2001/epidemic/banner_two_01.jpg" class="block100">
        <div class="banner-yllogo"></div>
        <div class="top-tips-collection">点击这里分享或收藏<span class="top-tips-close"></span></div>

        <dl class="banner-title">
            <dt>新型冠状病毒肺炎</dt>
            <dd><span id="bannerName">疾病知识</span></dd>
        </dl>
    </div>
    <!-- banner end -->
    <!-- 内容 start -->
    <div class="tab-wrap">
        <div class="tab-nav-wrap-all">
            <div class="tab-nav-wrap list-flex">
                <div class="tab-index"><a href="/whfy">疫情首页</a></div>
                <div class="list-bd">
                    <ul class="tab-nav list-flex">
                        <li class="list-bd"><span><a href="/whfy/index?type=1">疾病知识</a></span></li>
                        <li class="list-bd"><span><a href="/whfy/index?type=2">实时数据</a><i></i></span></li>
                        <li class="list-bd"><span><a href="/whfy/index?type=3">在线义诊</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="height10"></div>
        <div class="article-con">
            <div class="article-header">
                <h3>预防新冠肺炎居家隔离人员怎么做</h3>
                <p><span>2020-01-27 17:17</span><i class="articleviewnum">0人浏览</i></p>
            </div>
            <div class="article-text">
                <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                    <li><p>
                        因目前对新型冠状病毒（2019-nCoV）感染引起的疾病及其传播模式的认知有限，世界卫生组织建议疑似感染者应该在医院中被隔离并监控。此举可保证病人（在症状恶化的情况下）受到安全有效的治疗、确保公共卫生安全。</p>
                    </li>
                </ul>
                <p><br/></p>
                <p>但是，可能存在种种原因，如住院条件不允许或不安全（如：治疗能力不足、医疗资源不足）、医院拒收住院病人，在这些情况下，替代性的隔离环境可能需要被考虑。</p>
                <p><br/></p>
                <video poster="https://file.youlai.cn/cnkfile1/M02/02/28/41877BC1AE79250AEF86009AA01B0228WT.jpeg"
                       controls="" preload="none" id="myVideo" style="width: 100&#xFF05;;height: auto;" width="290"
                       height="326">
                    <source src="https://yl.vodjk.com/d6a724ad48504feebeeeb7bf33954ca5/7ed72eec25c34f168289065314a55605-f69db8396ebe45afebaebcf5f32c3ded-sd.mp4"
                            type="video/mp4"/>
                </video>
                <p><br/></p>
                <p>
                    若存在以上所述原因，有轻微症状[原文注释：低烧、咳嗽、乏力、鼻涕、咽喉痛等症状，且未出现如下警示症状：呼吸急促或呼吸困难、呼吸加重（咳痰或咯血），恶心、呕吐、腹泻等肠胃症状，精神错乱、嗜睡等精神状态变化）且原本没有慢性疾病（如肺病、心脏疾病、肾功能衰竭、免疫性疾病等，会提高并发症的风险）]的病人可以考虑家中隔离。那么在“居家隔离”期间，大家应该做什么？如何观察自己的病情？</p>
                <p><br/></p>
                <p><img src="//file.youlai.cn/cnkfile1/M02/5D/84/EC6D374AB2622E9C5E7B29CE48E45D84.jpeg" title="jpg"
                        alt="被确认患者副本.jpg"/></p>
                <p><strong><span style="color: rgb(0, 112, 192);"><br/></span></strong></p>
                <p><strong><span style="color: rgb(0, 112, 192);">生活：病人安置单人房间家庭成员和病人保持1米距离。</span></strong></p>
                <p><br/></p>
                <p>将病人安置在通风良好的单人房间。</p>
                <p><br/></p>
                <p>限制病人的看护人数，理想状况是安排一位身体健康状况良好且没有风险的人；拒绝一切探访。</p>
                <p><br/></p>
                <p>家庭成员应住在不同房间，如果条件不允许，则需和病人至少保持1米的距离（如：选择分床睡）。</p>
                <p><br/></p>
                <p>限制病人的活动，并且最小化病人和家庭成员的共用活动空间；保证共用活动空间（如厨房、浴室）通风良好（如：始终让窗户处于打开状态）。</p>
                <p><br/></p>
                <p>照料者与病人共处一室时，应佩戴医用口罩，口罩需要紧贴面部，且佩戴过程中禁止触碰、调整。口罩因分泌物变湿、变脏时，必须立刻更换。摘下及丢弃口罩之后，清洁双手。</p>
                <p><br/></p>
                <p>
                    在接触病人或其隔离空间后，清洁双手。需要清洁双手的情景包括：准备食物前后、用餐之前、使用厕所之后、任何手看起来脏的时候。如果双手无可见污渍，可以使用含酒精的手卫生免洗液清洁。若双手有肉眼可见的污渍，则使用肥皂和清水清洗。（医护人员）在建议家庭使用免洗卫生洗手液前，需作相关的安全隐患提示（避免意外吞食或火灾等情况的发生）。</p>
                <p><br/></p>
                <p>使用肥皂和清水洗手后，最好使用一次性擦手纸。如果没有一次性擦手纸，则需使用专用毛巾擦拭，毛巾变湿时需要更换。</p>
                <p><br/></p>
                <p>时刻保持所有人的呼吸道卫生，特别是病人。呼吸道卫生指咳嗽、打喷嚏时，需佩戴医用口罩、布制口罩，或使用纸巾、手肘捂住口鼻，咳嗽和打喷嚏之后清洁双手。</p>
                <p><br/></p>
                <p>用来捂住口鼻的材料使用后应立即丢弃，或者正确地清洗（如用普通的肥皂、洗涤剂和清水清洗手帕）。</p>
                <p><br/></p>
                <p>避免直接接触人体分泌物（特别是口部或呼吸道分泌物）以及粪便。照料者需佩戴一次性手套为病人进行口部及呼吸道护理，粪便、尿液以及其它废弃物处理。戴手套前、脱手套后均需清洁双手。</p>
                <p><br/></p>
                <p>病人使用的或在照料过程中使用的手套、纸巾、口罩和其它废弃物应置于病人房内有衬里的容器中，再与其它生活垃圾一起处理。</p>
                <p><br/></p>
                <p>避免和病人或在隔离空间与被病人污染的物品有其它形式的接触（如避免共用牙刷、香烟、餐具、饮料、毛巾、浴巾、床单）。餐具使用后应该用肥皂、洗涤剂和清水清洗，可以循环使用，不需要丢弃。<br/></p>
                <p><br/></p>
                <p>每天使用含有稀释漂白剂（漂白剂：水=1：99）的普通家用消毒剂清洁。消毒经常触碰的物品，如床头柜、床架及其它卧室家具。（原文注释：大部分家用漂白剂含有5&#xFF05;的次氯酸钠。）</p>
                <p><br/></p>
                <p>使用含有稀释漂白剂（漂白剂：水=1：99）的普通家用消毒剂，每天清洁、消毒浴室和厕所表面至少一次。</p>
                <p><br/></p>
                <p>
                    使用普通的洗衣皂和清水清洗病人的衣物、床单、浴巾、毛巾等，或者用普通家用洗衣液在洗衣机内以60-90摄氏度水温清洗，并完全干燥清洗物。将污染的床品放入洗衣袋。不要甩动污染衣物，避免其直接接触皮肤和自己的衣服。</p>
                <p><br/></p>
                <p>戴好一次性手套和保护性衣物（如塑料围裙）再去清洁和触碰被人体分泌物污染的物体表面、衣物或床品。戴手套前、脱手套后清洁双手。</p>
                <p><br/></p>
                <p>有症状的病人在症状消失之前都应在家隔离，症状消失与否需要通过临床或实验室检测确认（两次RT-PCR检验阴性结果应间隔至少24小时）。</p>
                <p><br/></p>
                <p>所有家庭成员都应被视为密切接触者，他们的健康状况应按以下原则进行监测。</p>
                <p><br/></p>
                <p>如有家庭成员出现急性呼吸道感染的症状，包括发热、咳嗽、喉咙痛和呼吸困难，请遵循下文的公共卫生建议。</p>
                <p><br/></p>
                <p>进行家中隔离看护工作的医护人员应先做风险评估，再选择合适的个人防护装备。</p>
                <p><br/></p>
                <p><span style="color: rgb(0, 112, 192);"><strong>饮食：单独碗筷56摄氏度以上煮烫30分钟。</strong></span></p>
                <p><br/></p>
                <p>病从口入，新型冠状病毒传染性很强，存在人传人现象。因此，每人单独碗筷，单独消毒，建议56摄氏度以上30分钟消毒。</p>
                <p><br/></p>
                <p>
                    营养搭配，提高自身免疫力，有力“抗”病毒。“居家隔离”期间，一定要合理饮食，均衡为主。饮食方面建议选择易吸收、富含纤维素的食物，如鸡蛋羹，清炒蔬菜，多吃水果。同时，保证足够的睡眠休息，形成一个良好的生活习惯。</p>
                <p><br/></p>
                <p>
                    同济大学附属同济医院临床营养科主任吴萍建议，应多食用富含优质蛋白质的食物如：畜禽肉、鱼、奶类、蛋类及豆类等；以及维生素A的食品，如肝、鱼肝油、全奶、奶油、蛋黄等。多食用富含维生素E是体内抗氧化剂，属于免疫调节剂，也可预防衰老，如：植物油、麦胚、坚果、种子、豆类、谷类等含量丰富。<br/>
                </p>
                <p><br/></p>
                <p>
                    此外，各种新鲜蔬菜、水果、菇类也必不可少，生大蒜中含有大蒜素，可抗病毒、提高机体免疫力；茶叶中的儿茶素能抵御细菌、真菌和病毒；葡萄、石榴中的多酚类化合物都具有可抗氧化、抗肿瘤、抑菌、消炎、抗病毒。</p>
                <p><br/></p>
                <p>
                    若有必要外出时，一定正确的带好医用防护口罩（N95口罩）或医用外科口罩；尽量避免过多的外出，回到家中洗手消毒、更换衣物，并使用普通洗衣皂和清水清洗，或用洗衣机以60-90摄氏度和普通家用洗衣液清洗，然后完全干燥上述物品。</p>
                <p><br/></p>
                <p><span style="font-size: 1rem; color: rgb(191, 191, 191);">内容来源：封面新闻</span></p>
            </div>
            <!--<div class="article-con-source">
                <dt>内容来源：</dt>
                <dd>
                    广东科技出版社《新型冠状病毒感染防护》
                    <br>
                    北京市疾控中心：预防新型冠状病毒权威释疑
                </dd>
            </div>-->

        </div>
        <!-- 0203 start ************************** -->
        <!--<div class="height10"></div>-->
        <!-- 相关推荐 start -->
        <div class="pad-lr15">
            <div class="dis-recommend detail-bottom-list">
                <div class="detail-bottom-list-title list-flex-in">
                    <h3 class="list-bd">相关推荐</h3>
                </div>
                <div id="recommendList" class="dis-recommend-ul">


                    <a href="/whfy/article/343433.html" target-aid="343433" class="dis-recommend-li">
                        <dl class="list-flex-in">
                            <i>·</i>
                            <dt class="list-bd">
                                <p class="pad-r10 line-clamp1">居家隔离医学观察者的家人怎么做</p>
                            </dt>
                            <!--<dd><span>0次浏览</span></dd>-->
                        </dl>
                    </a>

                    <a href="/whfy/article/343382.html" target-aid="343382" class="dis-recommend-li">
                        <dl class="list-flex-in">
                            <i>·</i>
                            <dt class="list-bd">
                                <p class="pad-r10 line-clamp1">密切接触者的居家医学观察怎么做？解除隔离标准是什么？</p>
                            </dt>
                            <!--<dd><span>0次浏览</span></dd>-->
                        </dl>
                    </a>

                    <a href="/whfy/article/343419.html" target-aid="343419" class="dis-recommend-li">
                        <dl class="list-flex-in">
                            <i>·</i>
                            <dt class="list-bd">
                                <p class="pad-r10 line-clamp1">预防新冠肺炎如何戴口罩</p>
                            </dt>
                            <!--<dd><span>0次浏览</span></dd>-->
                        </dl>
                    </a>

                    <a href="/whfy/article/343404.html" target-aid="343404" class="dis-recommend-li">
                        <dl class="list-flex-in">
                            <i>·</i>
                            <dt class="list-bd">
                                <p class="pad-r10 line-clamp1">家有疑似患者如何消毒？</p>
                            </dt>
                            <!--<dd><span>0次浏览</span></dd>-->
                        </dl>
                    </a>

                    <a href="/whfy/article/343431.html" target-aid="343431" class="dis-recommend-li">
                        <dl class="list-flex-in">
                            <i>·</i>
                            <dt class="list-bd">
                                <p class="pad-r10 line-clamp1">预防新冠肺炎如何挑选口罩</p>
                            </dt>
                            <!--<dd><span>0次浏览</span></dd>-->
                        </dl>
                    </a>

                    <a href="/whfy/article/343428.html" target-aid="343428" class="dis-recommend-li">
                        <dl class="list-flex-in">
                            <i>·</i>
                            <dt class="list-bd">
                                <p class="pad-r10 line-clamp1">如何摘口罩和丢弃口罩</p>
                            </dt>
                            <!--<dd><span>0次浏览</span></dd>-->
                        </dl>
                    </a>

                    <a href="/whfy/article/343643.html" target-aid="343643" class="dis-recommend-li">
                        <dl class="list-flex-in">
                            <i>·</i>
                            <dt class="list-bd">
                                <p class="pad-r10 line-clamp1">预防新冠肺炎不发烧需要隔离吗</p>
                            </dt>
                            <!--<dd><span>0次浏览</span></dd>-->
                        </dl>
                    </a>

                    <a href="/whfy/article/344802.html" target-aid="344802" class="dis-recommend-li">
                        <dl class="list-flex-in">
                            <i>·</i>
                            <dt class="list-bd">
                                <p class="pad-r10 line-clamp1">新型冠状病毒肺炎胸痛吗</p>
                            </dt>
                            <!--<dd><span>0次浏览</span></dd>-->
                        </dl>
                    </a>

                    <a href="/whfy/article/344395.html" target-aid="344395" class="dis-recommend-li">
                        <dl class="list-flex-in">
                            <i>·</i>
                            <dt class="list-bd">
                                <p class="pad-r10 line-clamp1">N95口罩能防新型冠状病毒吗</p>
                            </dt>
                            <!--<dd><span>0次浏览</span></dd>-->
                        </dl>
                    </a>

                    <a href="/whfy/article/344809.html" target-aid="344809" class="dis-recommend-li">
                        <dl class="list-flex-in">
                            <i>·</i>
                            <dt class="list-bd">
                                <p class="pad-r10 line-clamp1">怀孕容易感染新型肺炎吗</p>
                            </dt>
                            <!--<dd><span>0次浏览</span></dd>-->
                        </dl>
                    </a>
                </div>
                <div class="dis-recommend-more-box list-flex-in">
                    <span id="recommendMore" class="dis-recommend-more">阅读更多</span>
                </div>
            </div>
        </div>
        <!-- 相关推荐 end -->
        <!-- 了解更多，无惧疫情 start -->
        <div class="pad-lr15">
            <div class="detail-10-wrap detail-bottom-list">
                <div class="detail-bottom-list-title list-flex-in">
                    <h3 class="list-bd">了解更多，无惧疫情</h3>
                    <a href="/whfy" class="detail-bottom-list-more">更多&gt;</a>
                </div>

                <!-- 0203 Swiper start -->
                <div class="detail-10">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="/whfy/juhe?kw=口罩使用" class="block100">
                                    <img src="//static.youlai.cn/images/zt/2001/epidemic/article/article_swiper_01.png"
                                         class="block100">
                                    <h4>口罩使用</h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/whfy/juhe?kw=洗手规范" class="block100">
                                    <img src="//static.youlai.cn/images/zt/2001/epidemic/article/article_swiper_02.png"
                                         class="block100">
                                    <h4>洗手规范</h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/whfy/juhe?kw=消毒方法" class="block100">
                                    <img src="//static.youlai.cn/images/zt/2001/epidemic/article/article_swiper_03.png"
                                         class="block100">
                                    <h4>消毒方法</h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/whfy/juhe?kw=场所预防" class="block100">
                                    <img src="//static.youlai.cn/images/zt/2001/epidemic/article/article_swiper_04.png"
                                         class="block100">
                                    <h4>场所预防</h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/whfy/juhe?kw=避免传播" class="block100">
                                    <img src="//static.youlai.cn/images/zt/2001/epidemic/article/article_swiper_05.png"
                                         class="block100">
                                    <h4>避免传播</h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/whfy/juhe?kw=正确隔离" class="block100">
                                    <img src="//static.youlai.cn/images/zt/2001/epidemic/article/article_swiper_06.png"
                                         class="block100">
                                    <h4>隔离须知</h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/whfy/piyao" class="block100">
                                    <img src="//static.youlai.cn/images/zt/2001/epidemic/article/article_swiper_07.png"
                                         class="block100">
                                    <h4>最新辟谣</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 0203 Swiper end -->

            </div>
        </div>
        <!-- 了解更多，无惧疫情 end -->
        <!-- 0203 end ************************** -->
    </div>
    <!-- 内容 end -->

    <!-- 0130调整5 1/3 ************************ start -->
    <!--  底部悬浮 返回及分享 start -->
    <div class="bottom-height-2"></div>
    <div class="fix-wrap-bottom">
        <div class="fix-wrap-bottom-in box-max-width list-flex-in">
            <a href="/whfy" class="fix-bottom-go">
                <span>返回</span>
            </a>
            <a href="javascript:;" class="fix-bottom-share share-btn">
                <span>分享给所有人</span>
            </a>
        </div>
    </div>
    <!-- 底部悬浮 返回及分享 end -->
    <!-- 分享 -->
    <div class="fix-share" style="display: none;"><span>点击右上角更多 <br>把专题分享给亲朋好友</span></div>
    <!-- 分享 -->
    <!-- 0130调整5 ************************ end -->

</section>
<!-- 0203 new swiper js -->
<script src="https://static.youlai.cn/js/newcommon/swiper/swiper4.2.2.min.js" type="text/javascript"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3.1,   // auto 为自适应
        spaceBetween: 0,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
<script type="text/javascript">
    $(function () {
        $("video").each(function () {
            $(this).attr({
                "preload": "auto",
                "x-webkit-airplay": "true",
                "x5-playsinline": "true",
                "webkit-playsinline": "true",
                "playsinline": "true"
            });
        })
    })

    var tabTop;
    window.onload = function () {
        tabShow();
        // 0203 相关推荐
        var liNum = $("#recommendList .dis-recommend-li").length;
        console.log(liNum);
        if (liNum > 5) {
            $("#recommendList .dis-recommend-li:nth-child(n+6)").hide();
            $("#recommendMore").show();
        } else {
            $("#recommendList .dis-recommend-li").show();
            $("#recommendMore").hide();
        }
    };
    $(window).scroll(function () {
        tabShow();
    });

    // nav show / hide
    function tabShow() {
        tabTop = parseInt($(".tab-wrap").offset().top);
        if ($(window).scrollTop() > tabTop) {
            $(".tab-nav-wrap").addClass("tab-fix");
        } else {
            $(".tab-nav-wrap").removeClass("tab-fix");
        }
    }

    $(function () {
        $("#bannerName").html("疾病知识"); // banner的标签
        // 收藏提示 隐藏
        $(".top-tips-collection").click(function () {
            $(this).hide();
        });
        setTimeout(function () {
            $(".top-tips-collection").animate({display: 'none'}).fadeOut();
        }, 2000);
    })
    // 0203 相关推荐 更多
    $("#recommendMore").click(function () {
        $("#recommendMore").hide();
        $("#recommendList .dis-recommend-li").show();
    });
    // 0130调整5 3/3 ********************* start
    // 点击 显示分享提示框
    $(".share-btn").click(function () {
        $("#layerShare").hide();
        $(".fix-share").show();
    });
    //close
    $(".fix-share").click(function () {
        $(this).hide();
    });
    // 0130调整5 3/3 ********************* end
</script>

<script src="//res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script>
    _czc.push(['_trackEvent', '武汉肺炎', '疾病知识-预防新冠肺炎居家隔离人员怎么做-343354']);// u盟统计
    var def_data = {
        "title": "预防新冠肺炎居家隔离人员怎么做",
        "desc": "最新疫情进展，科普知识汇总，医生在线义诊",
        "imgUrl": "http:\/\/file.youlai.cn\/cnkfile1\/M02\/5E\/3C\/55088944F9ABE4A29854B14CD1535E3C.png",
        "link": "https:\/\/m.youlai.cn\/whfy\/article\/343354.html"
    }
    var time = Date.parse(new Date());
    $.ajax({
        type: 'POST',
        async: false,
        url: '/m/wxshareconfignew/?' + time,
        success: function (result) {
            var obj = result;
            appid = obj.data.appid;
            console.log(appid)
            timestamp = obj.data.timestamp;
            console.log(timestamp)
            noncestr = obj.data.noncestr;
            console.log(noncestr)
            signature = obj.data.signature;
            console.log(signature)
            wxshare(appid, timestamp, noncestr, signature);
        }
    });

    function wxshare(appid, timestamp, noncestr, signature) {
        wx.config({
            debug: false,
            appId: appid,
            timestamp: timestamp,
            nonceStr: noncestr,
            signature: signature,
            jsApiList: [
                'updateAppMessageShareData',
                'updateTimelineShareData',
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function () {
            var shareContentLine = {
                title: def_data.title, // 分享标题
                link: def_data.link, // 分享链接
                imgUrl: def_data.imgUrl, // 分享图标
                success: function (res) {
                    $(".fix-share").hide();
                }
            };
            var shareContentMessage = {
                title: def_data.title, // 分享标题
                desc: def_data.desc,
                link: def_data.link, // 分享链接
                imgUrl: def_data.imgUrl, // 分享图标
                success: function (res) {
                    $(".fix-share").hide();
                }
            };
            //分享朋友圈
            wx.updateTimelineShareData(shareContentLine);
            //分享给朋友
            wx.updateAppMessageShareData(shareContentMessage);

        });
    }
</script>


<script type="application/javascript">
    $(function () {
        $.post("/whfy/article/343354", {'id': 343354, 'ismater': 1}, function (ret) {
            if (ret.num) {
                $(".articleviewnum").text(ret.num + "人浏览")
            }
        }, 'JSON');


        $(".dis-recommend-ul .dis-recommend-li").each(function (i) {

            $.post("/whfy/article/" + $(this).attr("target-aid"), {'id': $(this).attr("target-aid")}, function (ret) {
                if (ret.num) {
                    $(".dis-recommend-ul .dis-recommend-li").eq(i).find("dd").find("span").text(ret.num + "人浏览")
                }
            }, 'JSON');
        });


    })
</script>
<script>
    $(function () {
        if (document.referrer) {
            $('.fix-bottom-go').attr('href', 'javascript:history.go(-1)');
        } else {
            // 没有来源页面信息的时候，改成首页URL地址
            $('.fix-bottom-go').attr('href', '/whfy');
        }
    })
</script>
<script>

    $(function () {
        isWeiXin();
    });

    //20200131
    function isWeiXin() {
        var ua = window.navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            $(".fix-wrap-bottom").show();

        } else {
            $(".fix-wrap-bottom").hide();
            $(".bottom-height-2").remove();
        }
    }
</script>

<script type="application/javascript">
    $(function () {
        if (navigator.userAgent.indexOf('UCBrowser') > -1) {
            $('title').html('全国新型肺炎疫情追踪专题')
        }
    })
</script>
</body>
</html>



















