<!DOCTYPE html>
<meta charset="utf8">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>全国新型肺炎疫情追踪专题-有来医生</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="always" name="referrer">
    <meta name="ip-enabled" content="true">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    <script src="//static.youlai.cn/js/newcommon/javascript/jquery1.11.1.min.js" type="text/javascript"></script>

    <link href="//static.youlai.cn/css/zt/2001/epidemic/common.rem.css" rel="stylesheet" type="text/css">
    <link href="//static.youlai.cn/css/zt/2001/epidemic/index0205.css" rel="stylesheet" type="text/css">
    <!--自写css-->
    <link href="../../css/app/fightingTheOutbreak/personalProtection.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        .fix-wrap-bottom {
            z-index: 100;
        }
        .mask-li video{
            display: none;
        }
    </style>
    <script>
        //声明_czc对象:
        var _czc = _czc || [];
        //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
        _czc.push(["_setAccount", "1274191321"]);
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8b53bc0f3e59f56a58a92a894280e28d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274191321'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274191321' type='text/javascript'%3E%3C/script%3E"));
</script>
<section class="box-max-width">
    <!-- banner start -->
    <div class="banner-wrap pos-r">
        <!-- 注意：此 img 引用图片与其他二级页图片不同 -->
        <img src="//static.youlai.cn/images/zt/2001/epidemic/banner_two_01_240.jpg" class="block100">
        <div class="banner-yllogo"></div>
        <dl class="banner-title banner-title-mask">
            <dd><span id="bannerName">新型冠状病毒肺炎</span></dd>
            <dt>口罩使用</dt>
        </dl>
    </div>
    <!-- banner end -->
    <!-- tab start -->
    <div class="tab-wrap">
        <!-- 此处直接从模板  piyao.tpl 粘过来的 -->
        <div class="tab-nav-wrap-all">
            <div class="tab-nav-wrap list-flex">
                <div class="tab-index"><a href="/whfy">疫情首页</a></div>
                <div class="list-bd">
                    <ul class="tab-nav list-flex">
                        <li class="list-bd"><span><a href="/whfy/index?type=1">疾病知识</a></span></li>
                        <li class="list-bd"><span><a href="/whfy/index?type=2">实时数据</a><i class="new"></i></span></li>
                        <li class="list-bd"><span><a href="/whfy/index?type=3">在线义诊</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- tab end -->

    <!-- tips start -->
    <div class="mask-tips-wrap">
        <dl class="mask-tips list-flex-in">
            <dt></dt>
            <dd class="list-bd">由中华医学会科普分会 · 有来医生 审核通过</dd>
        </dl>
    </div>
    <!-- tips end -->
    <!-- list start -->
    <div class="mask-list-wrap">
        <div class="mask-list-in" id="news_data">


            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343431.html"> 如何挑选口罩 </a></h3>
                    <div class="mask-li-con">

                        <video id="play_343431" onplay="videoPlay(id);upView(343431)" controls="controls"
                               poster="//file.youlai.cn/cnkfile1/M02/F4/13/C3D015DB23CAA4489623E3EDB3EDF413.jpeg"
                               x-webkit-airplay="true" x5-playsinline="true" webkit-playsinline="true"
                               playsinline="true">
                            <source src="https://yl.vodjk.com/56ff854ce05e4315beaaee256fcce550/9c2f5abdba8a4ac4b0a972c0e226a6f4-eef37f025fcf44843c497e7bf792cef1-sd.mp4">
                        </video>


                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343431.html">


                                预防新型冠状病毒，建议使用医用防护口罩（N95/KN95）或医用外科口罩。需注意的是，N95口罩防护严密，但是长时间佩戴后会有明显的闷气感。所以佩戴N95口罩时，一次时间不能超过4个小时，如果长时间持续使用N95口罩，可能造成肺部损伤。同时，建议不要给7岁以下的儿童戴N95口罩，哪怕是做了特殊空气阀设计的N95口罩，因为呼吸阻力会太大，小朋友有窒息风险。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343431.html" class="mask-li-more">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/344838.html"> 可以用带呼吸阀的口罩吗 </a></h3>
                    <div class="mask-li-con">


                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/344838.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/FD/87/3D2DD8313DD8C7892394F42CE0C9FD87.jpeg"
                                     class="block100">


                                呼吸阀口罩为人们的健康而设计，可对空气中有害人体的可见或不可见物质进行过滤，从而不会给人体产生不利影响。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/344838.html" class="mask-li-more">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/344840.html"> 孕妇如何选择口罩 </a></h3>
                    <div class="mask-li-con">


                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/344840.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/71/2F/989F124AEC840FD89FB246F59FA0712F.jpeg"
                                     class="block100">


                                若孕妇没有疑似感染或确认感染新型冠状病毒，可结合自身条件，选择适合自己脸型、呼吸阻力较低、佩戴整体舒适感较强的口罩，比如配有呼吸阀的防护口罩，能有效降低呼气阻力和闷热感，但应向专业医师咨询，确认自己的身体状况是否适合佩戴。此外，摘戴口罩前后均要彻底洗手，以降低感染风险。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/344840.html" class="mask-li-more">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/344841.html"> 儿童如何选择口罩 </a></h3>
                    <div class="mask-li-con">


                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/344841.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/33/AF/434C731B16B5812364DBF87B7CCB33AF.jpeg"
                                     class="block100">


                                新型冠状病毒感染的肺炎主要的传播途径是经呼吸道飞沫传播，亦可通过接触传播，因此戴口罩是很有效的防护措施。在给孩子选购口罩时应注意，一定要买适合孩子的儿童专用口罩，千万不要用大人的口罩来代替，因为这样实现不了防控作用。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/344841.html" class="mask-li-more">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/344870.html"> 老年人如何选择口罩 </a></h3>
                    <div class="mask-li-con">


                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/344870.html">
                                <img src="//file.youlai.cn/cnkfile1/M02/8A/46/5130ACE8AF033F5F381DEEF351438A46.jpeg"
                                     class="block100">


                                可选择佩戴松紧合适的口罩，一般低风险暴露时佩戴一次性医用口罩。非耳挂式口罩如绑带式，可减少对耳后皮肤的摩擦及压力，减轻不适感。在特殊时期建议老年人最好不要外出，因其本身就是重点防护对象。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/344870.html" class="mask-li-more">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343419.html"> 如何戴口罩 </a></h3>
                    <div class="mask-li-con">

                        <video id="play_343419" onplay="videoPlay(id);upView(343419)" controls="controls"
                               poster="//file.youlai.cn/cnkfile1/M02/DA/BF/F11769ECCD1175EA944FF350880EDABF.jpeg"
                               x-webkit-airplay="true" x5-playsinline="true" webkit-playsinline="true"
                               playsinline="true">
                            <source src="https://yl.vodjk.com/0607b0cf5f6a4d188339c49d001160a4/4be9afdba2a74f38a0f683b2e6f2769f-4edb7e65ea8b8865c0b8acb703cfcb4d-sd.mp4">
                        </video>


                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343419.html">


                                市场上的口罩五花八门，针对『新型冠状病毒』我们究竟要怎么佩戴口罩？是否做到正确配戴？口罩有颜色的一面向外，有金属片的一边向上，尽量不要用手触摸完外面再触摸里面，以免造成细菌交叉污染。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343419.html" class="mask-li-more">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343595.html"> 如何正确摘口罩 </a></h3>
                    <div class="mask-li-con">

                        <video id="play_343595" onplay="videoPlay(id);upView(343595)" controls="controls"
                               poster="//file.youlai.cn/cnkfile1/M02/6D/9B/C4AF7EE0145630C3FC58313EAF446D9B.jpeg"
                               x-webkit-airplay="true" x5-playsinline="true" webkit-playsinline="true"
                               playsinline="true">
                            <source src="https://yl.vodjk.com/9bf28692a5b1488f9eaff9d280d8ee25/b1d4986960a249c4ab9628b13926f45b-016402c33085d143b847700aca11c31d-sd.mp4">
                        </video>


                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343595.html">


                                摘口罩步骤：1、摘：双手同时捏住挂耳绳摘下口罩；2、折：一只手拿着挂耳绳，一只手捏住口罩内层中间部位，对折口罩，再对折两次，手千万不要触碰口罩的外面，以免沾染细菌；3、系：将挂耳绳缠绕在折好的口罩上系紧；4、泡：将口罩扔到装有消毒液的塑料袋中浸泡，系紧塑料袋；5、丢：确保塑料袋密封完好，扔进垃圾筐。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343595.html" class="mask-li-more">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343428.html"> 如何丢弃口罩 </a></h3>
                    <div class="mask-li-con">

                        <video id="play_343428" onplay="videoPlay(id);upView(343428)" controls="controls"
                               poster="//file.youlai.cn/cnkfile1/M02/93/FC/809A3F26C47A2791BA3A80AC282193FC.jpeg"
                               x-webkit-airplay="true" x5-playsinline="true" webkit-playsinline="true"
                               playsinline="true">
                            <source src="https://yl.vodjk.com/59e17b09c55a4086a5a6b3c194402d87/45d41c7d25cc48ff8e2e25bb5c6e35d0-5c112ae2106180c4297c42ed017359e5-sd.mp4">
                        </video>


                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343428.html">


                                最近两天，不断有小伙伴跟疾控君说“用过的口罩，沾满了细菌、病毒，建议不要随意丢弃”，甚至担心被别有用心的回收利用，并给出了解决办法“拿开水烫一下、定点焚烧、剪碎了再扔”。疾控君为有这样的小伙伴感到骄傲，说明小伙伴的卫生意识有显著地提高了。但是，这样的解决方式科学吗？请听疾控君为大家娓娓道来。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343428.html" class="mask-li-more">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343599.html"> 医用口罩如何二次利用 </a></h3>
                    <div class="mask-li-con">

                        <video id="play_343599" onplay="videoPlay(id);upView(343599)" controls="controls"
                               poster="//file.youlai.cn/cnkfile1/M02/FA/82/A0EA04CF892897A6127AF0F4A948FA82.jpeg"
                               x-webkit-airplay="true" x5-playsinline="true" webkit-playsinline="true"
                               playsinline="true">
                            <source src="https://yl.vodjk.com/6f92284a5dd143b0b498c87fbcf5a8f0/0e3579917d7340df824ecef3021d39a8-56a455ddeed01a9a9a25131c1dcda64d-sd.mp4">
                        </video>


                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343599.html">


                                新型冠状病毒席卷全国的当下，口罩供应紧缺，在买不到、迫不得已的情况下，可以消毒重复使用，方法如下：1、高温消毒；2、消毒液消毒。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343599.html" class="mask-li-more">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343526.html"> 口罩可以清洗、消毒吗 </a></h3>
                    <div class="mask-li-con">

                        <video id="play_343526" onplay="videoPlay(id);upView(343526)" controls="controls"
                               poster="//file.youlai.cn/cnkfile1/M02/46/EF/26F4718CD421260B6B15D0536E6746EF.jpeg"
                               x-webkit-airplay="true" x5-playsinline="true" webkit-playsinline="true"
                               playsinline="true">
                            <source src="https://yl.vodjk.com/8f8acbf167a94cd4a78ff0cec8407eab/b595ef2714ea4c04b25aedf17b644d56-ba2432206006c6b922a0dd681414da83-sd.mp4">
                        </video>


                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343526.html">


                                由于都是一次性使用口罩，所以在佩戴以后应该丢弃。一般正常人使用口罩以后可以当作生活垃圾丢弃，但是当口罩在医疗机构中佩戴过，接触疑似或者确诊患者的时候，应该当做医疗垃圾丢弃，以特殊处理方法处理才能达到防止传染他人的目的。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343526.html" class="mask-li-more">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- list end -->

    <input type="hidden" id="curpage" name="curpage" value="1">
    <p id="tinfo" class="tinfo">上滑加载更多...</p>
    <div id="end" class="bromptbottom" style="display:none"><span>已经到底啦</span></div>
    <!-- 内容 end -->


    <!-- 0130调整5 1/3 ************************ start -->
    <!--  底部悬浮 返回及分享 start -->
    <div class="bottom-height-2 bottom-wx" style="display: none"></div>
    <div class="fix-wrap-bottom bottom-wx" style="display: none">
        <div class="fix-wrap-bottom-in box-max-width list-flex-in">
            <a href="/whfy" class="fix-bottom-go">
                <span>返回</span>
            </a>
            <a href="javascript:;" class="fix-bottom-share share-btn">
                <span>分享给所有人</span>
            </a>
        </div>
    </div>
    <!-- 底部悬浮 返回及分享 end -->
    <!-- 分享 -->
    <div class="fix-share" style="display: none;"><span>点击右上角更多 <br>把专题分享给亲朋好友</span></div>
    <!-- 分享 -->
    <!-- 0130调整5 ************************ end -->
</section>

<script type="text/javascript">
    /*阻止a标签跳转*/
    $("a").click(function (e) {
        e.preventDefault();
    })
    // 视频播放
    function videoPlay(id) {
        $("#" + id).parents(".mask-li").siblings(".mask-li").find("video").not($(this)).trigger("pause"); // 视频暂停
    }

    var tabTop;
    window.onload = function () {
        tabShow();
    };
    $(window).scroll(function () {
        tabShow();
    });

    // nav show / hide
    function tabShow() {
        tabTop = parseInt($(".tab-wrap").offset().top);
        if ($(window).scrollTop() > tabTop) {
            $(".tab-nav-wrap").addClass("tab-fix");
        } else {
            $(".tab-nav-wrap").removeClass("tab-fix");
        }
    }

    $(function () {
        $("#bannerName").html("新型冠状病毒肺炎"); // banner的标签
        // 收藏提示 隐藏
        $(".top-tips-collection").click(function () {
            $(this).hide();
        });
        //微信浏览器
        isWeiXin();
        //uc浏览器
        if (navigator.userAgent.indexOf('UCBrowser') > -1) {
            $('title').html('全国新型肺炎疫情追踪专题')
        }

        //返回按钮链接
        if (document.referrer) {
            $('.fix-bottom-go').attr('href', 'javascript:history.go(-1)');
        } else {
            // 没有来源页面信息的时候，改成首页URL地址
            $('.fix-bottom-go').attr('href', '/whfy');
        }

    });

    // 0130调整5 3/3 ********************* start
    // 点击 显示分享提示框
    $(".share-btn").click(function () {
        $("#layerShare").hide();
        $(".fix-share").show();
    });
    //close
    $(".fix-share").click(function () {
        $(this).hide();
    });
    // 0130调整5 3/3 ********************* end

    //20200131
    function isWeiXin() {
        var ua = window.navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            $(".bottom-wx").show();
        } else {
            $(".bottom-wx").hide();
        }

    }
</script>


<script src="//res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script>
    _czc.push(['_trackEvent', '武汉肺炎', '文章-口罩使用-聚合']);// u盟统计
    var def_data = {
        "title": "口罩使用指南--新型肺炎疫情防护必看！",
        "desc": "最新疫情进展，科普知识汇总，医生在线义诊",
        "imgUrl": "http:\/\/file.youlai.cn\/cnkfile1\/M02\/5E\/3C\/55088944F9ABE4A29854B14CD1535E3C.png",
        "link": "https:\/\/m.youlai.cn\/whfy\/juhe?kw=%E5%8F%A3%E7%BD%A9%E4%BD%BF%E7%94%A8"
    }
    var time = Date.parse(new Date());
    $.ajax({
        type: 'POST',
        async: false,
        url: '/m/wxshareconfignew/?' + time,
        success: function (result) {
            var obj = result;
            appid = obj.data.appid;
            console.log(appid)
            timestamp = obj.data.timestamp;
            console.log(timestamp)
            noncestr = obj.data.noncestr;
            console.log(noncestr)
            signature = obj.data.signature;
            console.log(signature)
            wxshare(appid, timestamp, noncestr, signature);
        }
    });

    function wxshare(appid, timestamp, noncestr, signature) {
        wx.config({
            debug: false,
            appId: appid,
            timestamp: timestamp,
            nonceStr: noncestr,
            signature: signature,
            jsApiList: [
                'updateAppMessageShareData',
                'updateTimelineShareData',
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function () {
            var shareContentLine = {
                title: def_data.title, // 分享标题
                link: def_data.link, // 分享链接
                imgUrl: def_data.imgUrl, // 分享图标
                success: function (res) {
                    $(".fix-share").hide();
                }
            };
            var shareContentMessage = {
                title: def_data.title, // 分享标题
                desc: def_data.desc,
                link: def_data.link, // 分享链接
                imgUrl: def_data.imgUrl, // 分享图标
                success: function (res) {
                    $(".fix-share").hide();
                }
            };
            //分享朋友圈
            wx.updateTimelineShareData(shareContentLine);
            //分享给朋友
            wx.updateAppMessageShareData(shareContentMessage);
            //分享到QQ
            // wx.onMenuShareQQ(shareContentMessage);
            //分享到QQ空间
            //wx.onMenuShareQZone(shareContentLine);
        });
    }
</script>


<script>
    if (2 == 1 || 2 == 0) {
        $('#tinfo').remove();
        $('#end').remove();
    }
    var stop = true;
    $(window).scroll(function () {
        totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
        if (stop) {
            if ($(document).height() - 100 <= totalheight) {
                var curpage = $('input[name=curpage]').val();
                var page = parseInt(curpage) + 1;
                if (curpage < 2) {
                    stop = false;
                    $.ajax({
                        type: 'get',
                        url: "/whfy/juhe?kw=口罩使用&page=" + page + "&isapi=1",
                        success: function (nextResult) {
                            var newpage = parseInt(curpage) + 1;
                            $('input[name=curpage]').val(newpage);
                            var next_rData = nextResult;
                            $('#news_data').append(next_rData);
                            stop = true;
                        }
                    });

                } else if (curpage == '2') {
                    $('#tinfo').remove();
                    $('#end').show();
                }
            }
        }
    });
</script>

<script type="text/javascript">
    //点击增加播放量
    function upView(aid) {
        if (aid < 0) {
            return;
        }
        $.post("/whfy/article/" + aid, {'id': aid, 'ismater': 1}, function (ret) {
            if (ret.num) {
                // $("#"+aid+"_views").text(ret.num)
            }
        }, 'JSON');
    }
</script>
</body>
</html>