
<!DOCTYPE html>
<meta charset="utf8">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>全国新型肺炎疫情追踪专题-有来医生</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="always" name="referrer">
    <meta name="ip-enabled" content="true">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    <script src="//static.youlai.cn/js/newcommon/javascript/jquery1.11.1.min.js" type="text/javascript"></script>

    <link href="//static.youlai.cn/css/zt/2001/epidemic/common.rem.css" rel="stylesheet" type="text/css">
    <link href="//static.youlai.cn/css/zt/2001/epidemic/index0205.css" rel="stylesheet" type="text/css">
    <!--自写css-->
    <link href="../../css/app/fightingTheOutbreak/personalProtection.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .fix-wrap-bottom{z-index: 100;}
    </style>
    <script>
        //声明_czc对象:
        var _czc = _czc || [];
        //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
        _czc.push(["_setAccount", "1274191321"]);
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8b53bc0f3e59f56a58a92a894280e28d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274191321'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274191321' type='text/javascript'%3E%3C/script%3E"));
</script>
<section class="box-max-width">
    <!-- banner start -->
    <div class="banner-wrap pos-r">
        <!-- 注意：此 img 引用图片与其他二级页图片不同 -->
        <img src="//static.youlai.cn/images/zt/2001/epidemic/banner_two_01_240.jpg" class="block100">
        <div class="banner-yllogo"></div>
        <dl class="banner-title banner-title-mask">
            <dd><span id="bannerName">新型冠状病毒肺炎</span></dd>
            <dt>就医判断</dt>
        </dl>
    </div>
    <!-- banner end -->
    <!-- tab start -->
    <div class="tab-wrap">
        <!-- 此处直接从模板  piyao.tpl 粘过来的 -->
        <div class="tab-nav-wrap-all">
            <div class="tab-nav-wrap list-flex">
                <div class="tab-index"><a href="/whfy">疫情首页</a></div>
                <div class="list-bd">
                    <ul class="tab-nav list-flex">
                        <li class="list-bd"><span><a href="/whfy/index?type=1">疾病知识</a></span></li>
                        <li class="list-bd"><span><a href="/whfy/index?type=2">实时数据</a><i class="new"></i></span></li>
                        <li class="list-bd"><span><a href="/whfy/index?type=3">在线义诊</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- tab end -->

    <!-- tips start -->
    <div class="mask-tips-wrap">
        <dl class="mask-tips list-flex-in">
            <dt></dt>
            <dd class="list-bd">由中华医学会科普分会 · 有来医生 审核通过</dd>
        </dl>
    </div>
    <!-- tips end -->
    <!-- list start -->
    <div class="mask-list-wrap">
        <div class="mask-list-in" id="news_data">




            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343569.html"> 什么情况下需要在家观察 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343569.html">


                                湖北等重点疫区返乡人员及诊断病例密切接触者；新型肺炎患者治愈后，建议居家观察14天左右；未接触过感染者的人群，如果有流鼻涕、打喷嚏、喉咙痛、发热等症状，但无憋气感，且体温未超过37.5℃，可以暂时在家观察。但如果体温超过38℃，或出现气促的情况，应尽快就医。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343569.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343570.html"> 什么情况下需立即就医 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343570.html">


                                当下的疫情，如果患者体温略微超过37.3℃，且身体没有其他不舒服，不必过于恐慌，在家观察即可，若体温逐渐正常，说明身体慢慢好转。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343570.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343571.html"> 就医注意事项 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343571.html">


                                怀疑感染了新型冠状病毒，尽可能事先网络或电话了解拟就诊医疗机构情况，做好预约和准备，熟悉医院科室布局和步骤流程，尽可能减少就诊时间。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343571.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343548.html"> 接触感染者后要马上就诊吗 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343548.html">


                                在未采取有效防护措施接触感染者后属于密切接触者，此类人群不需要马上到医院就诊，可以先在家进行隔离观察。医学观察期限为被观察对象自最后一次与病例发生无有效防护的接触后14天。观察期满未发病者，
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343548.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343572.html"> 感冒了要去医院吗 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343572.html">


                                目前，新型冠状病毒肺炎来势凶猛，疫情蔓延较快。如果在此期间出现感冒症状，如咳嗽、鼻塞、流涕等，但未去过疾病流行地区居住或旅游，也未接触过感染者，可先不去医院就诊，自行在家隔离14天。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343572.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>






            <div class="mask-li">
                <div class="block100">
                    <h3><a href="/whfy/article/343574.html"> 发烧要马上去医院吗 </a ></h3>
                    <div class="mask-li-con">



                        <div class="mask-li-p line-clamp3">
                            <a href="/whfy/article/343574.html">


                                发烧的患者不一定马上去医院，因为发烧可能由于流感引起，不一定就是感染了新型冠状病毒，建议在家隔离观察14天。如果为流感引起，大概在一周左右自愈。而新型冠状病毒感染，潜伏期一般为3-7天，最长不超过14天，主要表现为发热、乏力、干咳，少数患者伴有鼻塞、流涕、腹泻等症状。
                            </a>
                        </div>
                        <div class="list-flex-in"><a href="/whfy/article/343574.html" class="mask-li-more">查看更多</a ></div>
                    </div>
                </div>
            </div>








        </div>
    </div>
    <!-- list end -->

    <input type="hidden" id = "curpage" name="curpage" value="1">
    <p id="tinfo" class="tinfo">上滑加载更多...</p>
    <div id="end" class="bromptbottom" style="display:none"><span>已经到底啦</span></div>
    <!-- 内容 end -->




    <!-- 0130调整5 1/3 ************************ start -->
    <!--  底部悬浮 返回及分享 start -->
    <div class="bottom-height-2 bottom-wx" style="display: none"></div>
    <div class="fix-wrap-bottom bottom-wx" style="display: none">
        <div class="fix-wrap-bottom-in box-max-width list-flex-in">
            <a href="/whfy" class="fix-bottom-go">
                <span>返回</span>
            </a>
            <a href="javascript:;" class="fix-bottom-share share-btn" >
                <span>分享给所有人</span>
            </a>
        </div>
    </div>
    <!-- 底部悬浮 返回及分享 end -->
    <!-- 分享 -->
    <div class="fix-share" style="display: none;"><span>点击右上角更多 <br>把专题分享给亲朋好友</span></div>
    <!-- 分享 -->
    <!-- 0130调整5 ************************ end -->
</section>

<script type="text/javascript">
    // 视频播放
    function videoPlay(id){
        $("#"+id).parents(".mask-li").siblings(".mask-li").find("video").not($(this)).trigger("pause"); // 视频暂停
    }

    var tabTop;
    window.onload =function(){
        tabShow();
    };
    $(window).scroll(function(){
        tabShow();
    });
    // nav show / hide
    function tabShow(){
        tabTop = parseInt($(".tab-wrap").offset().top);
        if($(window).scrollTop()>tabTop){
            $(".tab-nav-wrap").addClass("tab-fix");
        }else{
            $(".tab-nav-wrap").removeClass("tab-fix");
        }
    }

    $(function(){
        $("#bannerName").html("新型冠状病毒肺炎"); // banner的标签
        // 收藏提示 隐藏
        $(".top-tips-collection").click(function(){
            $(this).hide();
        });
        //微信浏览器
        isWeiXin();
        //uc浏览器
        if(navigator.userAgent.indexOf('UCBrowser') > -1) {
            $('title').html('全国新型肺炎疫情追踪专题')
        }

        //返回按钮链接
        if (document.referrer) {
            $('.fix-bottom-go').attr('href', 'javascript:history.go(-1)');
        }else{
            // 没有来源页面信息的时候，改成首页URL地址
            $('.fix-bottom-go').attr('href', '/whfy');
        }

    });

    // 0130调整5 3/3 ********************* start
    // 点击 显示分享提示框
    $(".share-btn").click(function(){
        $("#layerShare").hide();
        $(".fix-share").show();
    });
    //close
    $(".fix-share").click(function(){
        $(this).hide();
    });
    // 0130调整5 3/3 ********************* end

    //20200131
    function isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
            $(".bottom-wx").show();
        }else{
            $(".bottom-wx").hide();
        }

    }
</script>


<script src="//res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script>
    /*阻止a标签跳转*/
    $("a").click(function (e) {
        e.preventDefault();
    })
    _czc.push(['_trackEvent','武汉肺炎','文章-就医判断-聚合']);// u盟统计
    var def_data ={"title":"就医判断指南--新型肺炎疫情防护必看！","desc":"最新疫情进展，科普知识汇总，医生在线义诊","imgUrl":"http:\/\/file.youlai.cn\/cnkfile1\/M02\/5E\/3C\/55088944F9ABE4A29854B14CD1535E3C.png","link":"https:\/\/m.youlai.cn\/whfy\/juhe?kw=%E5%B0%B1%E5%8C%BB%E5%88%A4%E6%96%AD"}
    var time = Date.parse(new Date());
    $.ajax({
        type: 'POST',
        async: false,
        url: '/m/wxshareconfignew/?' + time,
        success: function (result) { var obj = result ;
            appid = obj.data.appid;
            console.log(appid)
            timestamp = obj.data.timestamp;
            console.log(timestamp)
            noncestr = obj.data.noncestr;
            console.log(noncestr)
            signature = obj.data.signature;
            console.log(signature)
            wxshare(appid,timestamp,noncestr,signature);
        }
    });
    function wxshare(appid,timestamp,noncestr,signature){
        wx.config({
            debug: false,
            appId: appid,
            timestamp: timestamp,
            nonceStr: noncestr,
            signature: signature,
            jsApiList: [
                'updateAppMessageShareData',
                'updateTimelineShareData',
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function () {
            var shareContentLine ={
                title: def_data.title, // 分享标题
                link: def_data.link, // 分享链接
                imgUrl: def_data.imgUrl, // 分享图标
                success: function (res) {
                    $(".fix-share").hide();
                }
            };
            var shareContentMessage ={
                title: def_data.title, // 分享标题
                desc: def_data.desc,
                link: def_data.link, // 分享链接
                imgUrl: def_data.imgUrl, // 分享图标
                success: function (res) {
                    $(".fix-share").hide();
                }
            };
            //分享朋友圈
            wx.updateTimelineShareData(shareContentLine);
            //分享给朋友
            wx.updateAppMessageShareData(shareContentMessage);
            //分享到QQ
            // wx.onMenuShareQQ(shareContentMessage);
            //分享到QQ空间
            //wx.onMenuShareQZone(shareContentLine);
        });
    }
</script>


<script>
    if(1 == 1 || 1==0){
        $('#tinfo').remove();
        $('#end').remove();
    }
    var stop = true;
    $(window).scroll(function () {
        totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
        if (stop) {
            if ($(document).height()-100 <= totalheight) {
                var curpage = $('input[name=curpage]').val();
                var page = parseInt(curpage) + 1;
                if (curpage < 1) {
                    stop = false;
                    $.ajax({
                        type: 'get',
                        url: "/whfy/juhe?kw=就医判断&page=" + page + "&isapi=1",
                        success: function (nextResult) {
                            var newpage = parseInt(curpage) + 1;
                            $('input[name=curpage]').val(newpage);
                            var next_rData = nextResult;
                            $('#news_data').append(next_rData);
                            stop = true;
                        }
                    });

                }else if(curpage == '1'){
                    $('#tinfo').remove();
                    $('#end').show();
                }
            }
        }
    });
</script>

<script type="text/javascript">
    //点击增加播放量
    function upView(aid){
        if(aid<0){
            return;
        }
        $.post("/whfy/article/"+aid,{'id':aid,'ismater':1},function (ret) {
            if(ret.num){
                // $("#"+aid+"_views").text(ret.num)
            }
        },'JSON');
    }
</script>
</body>
</html>