
<!DOCTYPE html>
<meta charset="utf8">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <title>全国新型肺炎疫情追踪专题-有来医生</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="always" name="referrer">
    <meta name="ip-enabled" content="true">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    <script src="https://static.youlai.cn/js/newcommon/javascript/jquery1.11.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://static.youlai.cn/js/newcommon/map/echarts.min1.js"></script>
    <script type="text/javascript" src="https://static.youlai.cn/js/newcommon/map/china.js"></script>
    <script type="text/javascript" src="https://static.youlai.cn/js/newcommon/map/roma.js"></script>
    <link href="//static.youlai.cn/css/zt/2001/epidemic/common.rem.css" rel="stylesheet" type="text/css">
    <link href="//static.youlai.cn/css/zt/2001/epidemic/index0208.css" rel="stylesheet" type="text/css">
    <!--自写css-->
    <link href="../../css/app/fightingTheOutbreak/personalProtection.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .banner-zgqnb{
            position: absolute;top:0;right: .64rem;
            width: 3.36rem;height: 1.28rem;
            background-image:url('//static.youlai.cn/images/zt/2001/epidemic/logo_zgqnb.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

    </style>
</head>
<body>
<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274191321'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274191321' type='text/javascript'%3E%3C/script%3E"));
</script>
<section class="box-max-width">
    <input class="cms-input-four" name="share_title" type="hidden" value="科普知识汇总--新型冠状病毒肺炎">
    <input class="cms-input-four" name="share_desc" type="hidden" value="发病原因，临床表现，传播途径，严重程度，鉴别诊断，如何治疗。立即查看>">
    <input class="cms-input-four" name="share_imgurl" type="hidden" value="http://file.youlai.cn/cnkfile1/M02/5E/3C/55088944F9ABE4A29854B14CD1535E3C.png">
    <input class="cms-input-four" name="share_link" type="hidden" value="https://m.youlai.cn/whfy/index?type=1">
    <input class="cms-input-four" name="type_select" type="hidden" value="1">
    <!-- 0201调整 tips start -->
    <div class="top-tips-one">
        <p>义诊服务由UC浏览器、有来医生联合提供</p>
    </div>
    <!-- tips end -->
    <!-- banner start -->
    <div class="banner-wrap pos-r">
        <!-- banner.png 改为 banner_two_01.jpg 20200201 lili -->
        <img src="//static.youlai.cn/images/zt/2001/epidemic/banner_two_01.jpg" class="block100 img-banner-in">
        <img src="//static.youlai.cn/images/zt/2001/epidemic/banner_two_01_xxqg.jpg" class="block100 img-banner-xxqg" style="display: none;">
        <div class="banner-yllogo"></div>
        <div class="banner-kuaishou" style="display: none;" ></div>
        <div class="banner-360" style="display: none;"></div>
        <div class="banner-xxqg" style="display: none;"></div>
        <div class="banner-zgqnb" style="display: none;"></div>
        <div class="top-tips-collection">点击这里分享或收藏<span class="top-tips-close"></span></div>
        <div class="top-browse-data view_num"></div>
        <dl class="banner-title">
            <dt>新型冠状病毒肺炎</dt>
            <dd><span id="bannerName">疾病知识</span></dd>
        </dl>
    </div>
    <!-- banner end -->
    <!-- 内容 start -->
    <div class="tab-wrap">
        <!-- tab start -->
        <div class="tab-nav-wrap-all">
            <div class="tab-nav-wrap list-flex">
                <div class="tab-index"><a href="/whfy">疫情首页</a></div>
                <div class="list-bd">
                    <ul class="tab-nav list-flex">
                        <li class="list-bd cur" onclick="jibingzhishi()"><span>疾病知识</span></li>
                        <li class="list-bd " onclick="shishishuju()"><span>实时数据<i class="new red_spot" style="display: none"></i></span></li>
                        <li class="list-bd " onclick="zaixianyizhen()"><span>在线义诊</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- tab end -->
        <div class="tab-con">
            <!-- 疾病知识 start -->
            <div class="lione">
                <div class="block01-list pad-15">
                    <a href="https://m.youlai.cn/whfy/article/343435.html" class="block01-li">
                        <dl class="list-flex-top">
                            <dd class="list-bd">
                                <h3 class="line-clamp1">什么是新型冠状病毒肺炎</h3>
                                <div class="block01-li-text">
                                    <div class="line-clamp3">新型冠状病毒肺炎是一种急性感染性肺炎，其病原体就是2019年新型冠状病毒。什么是冠状病毒？什么是新型冠状病毒？这种病毒为什么会流行？</div>
                                </div>
                                <div class="list-flex"><div class="list-bd"></div><span class="block01-li-more">查看详情</span></div>
                            </dd>
                        </dl>
                    </a>
                    <a href="https://m.youlai.cn/whfy/article/343443.html" class="block01-li">
                        <dl class="list-flex-top">
                            <dt><img src="//static.youlai.cn/images/zt/2001/epidemic/block01_list_01.jpg" class="block100"></dt>
                            <dd class="list-bd">
                                <h3 class="line-clamp1">发病原因</h3>
                                <div class="block01-li-text">
                                    <div class="line-clamp3">新型冠状病毒肺炎主要由2019-nCoV感染引发的肺部感染，这种病毒是一种新型的冠状病毒，可以感染包括人类在内的多种宿主，很大可能来自于野生动物。</div>
                                </div>
                                <div class="list-flex"><div class="list-bd"></div><span class="block01-li-more">查看详情</span></div>
                            </dd>
                        </dl>
                    </a>
                    <a href="https://m.youlai.cn/whfy/article/343452.html" class="block01-li">
                        <dl class="list-flex-top">
                            <dt><img src="//static.youlai.cn/images/zt/2001/epidemic/block01_list_02.jpg" class="block100"></dt>
                            <dd class="list-bd">
                                <h3 class="line-clamp1">临床表现</h3>
                                <div class="block01-li-text">
                                    <div class="line-clamp3">发热，多为高烧（体温>38℃），少数低烧（>37.5℃），个别可无发烧情况。</div>
                                </div>
                                <div class="list-flex"><div class="list-bd"></div><span class="block01-li-more">查看详情</span></div>
                            </dd>
                        </dl>
                    </a>
                    <a href="https://m.youlai.cn/whfy/article/343449.html" class="block01-li">
                        <dl class="list-flex-top">
                            <dt><img src="//static.youlai.cn/images/zt/2001/epidemic/block01_list_03.jpg" class="block100"></dt>
                            <dd class="list-bd">
                                <h3 class="line-clamp1">传播途径</h3>
                                <div class="block01-li-text">
                                    <div class="line-clamp3">新型冠状病毒肺炎易感人群？新型冠状病毒肺炎传播途径？如果感觉自己感染新型冠状病毒，怎么办？</div>
                                </div>
                                <div class="list-flex"><div class="list-bd"></div><span class="block01-li-more">查看详情</span></div>
                            </dd>
                        </dl>
                    </a>
                    <a href="https://m.youlai.cn/whfy/article/343453.html" class="block01-li">
                        <dl class="list-flex-top">
                            <dt><img src="//static.youlai.cn/images/zt/2001/epidemic/block01_list_04.jpg" class="block100"></dt>
                            <dd class="list-bd">
                                <h3 class="line-clamp1">严重程度</h3>
                                <div class="block01-li-text">
                                    <div class="line-clamp3">什么是密切接触者？什么是新型冠状病毒轻症患者？什么是新型冠状病毒重症患者？</div>
                                </div>
                                <div class="list-flex"><div class="list-bd"></div><span class="block01-li-more">查看详情</span></div>
                            </dd>
                        </dl>
                    </a>
                    <a href="https://m.youlai.cn/whfy/article/343451.html" class="block01-li">
                        <dl class="list-flex-top">
                            <dt><img src="//static.youlai.cn/images/zt/2001/epidemic/block01_list_05.jpg" class="block100"></dt>
                            <dd class="list-bd">
                                <h3 class="line-clamp1">鉴别诊断</h3>
                                <div class="block01-li-text">
                                    <div class="line-clamp3">与普通感冒、流感的区别？目前调查显示，该病毒人际间传播能力和致病性均较SARS弱。</div>
                                </div>
                                <div class="list-flex"><div class="list-bd"></div><span class="block01-li-more">查看详情</span></div>
                            </dd>
                        </dl>
                    </a>
                    <a href="https://m.youlai.cn/whfy/article/343448.html" class="block01-li">
                        <dl class="list-flex-top">
                            <dt><img src="//static.youlai.cn/images/zt/2001/epidemic/block01_list_06.jpg" class="block100"></dt>
                            <dd class="list-bd">
                                <h3 class="line-clamp1">检查确诊</h3>
                                <div class="block01-li-text">
                                    <div class="line-clamp3">早期白细胞总数正常或降低，淋巴细胞计数减低。实时荧光RT-PCR检测2019-nCoV核酸阳性（即新型冠状病毒核酸检测试剂盒检测）。</div>
                                </div>
                                <div class="list-flex"><div class="list-bd"></div><span class="block01-li-more">查看详情</span></div>
                            </dd>
                        </dl>
                    </a>
                    <a href="https://m.youlai.cn/whfy/article/343445.html" class="block01-li">
                        <dl class="list-flex-top">
                            <dt><img src="//static.youlai.cn/images/zt/2001/epidemic/block01_list_07.jpg" class="block100"></dt>
                            <dd class="list-bd">
                                <h3 class="line-clamp1">如何治疗</h3>
                                <div class="block01-li-text">
                                    <div class="line-clamp3">介绍：新型冠状病毒肺炎有无特效药物和疫苗？新型冠状病毒肺炎如何治疗？能治好吗？出院标准是什么？</div>
                                </div>
                                <div class="list-flex"><div class="list-bd"></div><span class="block01-li-more">查看详情</span></div>
                            </dd>
                        </dl>
                    </a>
                </div>
            </div>
            <!-- 疾病知识 end -->
            <!-- 实时数据 start -->
            <div class="lione" id="shishi">
            </div>
            <!-- 实时数据 end -->
            <!-- 在线义诊 start -->
            <div class="lione">
                <!-- 20200131 加医生分类导航及提示文字修改  lili   start -->
                <div class="ask-link"><a href="/whfy/ask">您的问题可能有人问过了，看看医生的回答</a></div>
                <!-- 在线义诊新增 tab-nav 20200131 start -->
                <div class="zxyz-tab-nav-wrap">
                    <ul class="zxyz-tab-nav list-flex">
                        <li class="list-bd  cur "><span>疾病预防咨询</span></li>
                        <li class="list-bd "><span>心理疏导咨询</span></li>
                    </ul>
                </div>
                <!-- 在线义诊新增导航 tab-nav 20200131 end -->
                <div class="yizhen-tips">义诊服务由银川有来互联网医院提供，与中国科协科普部无关<br>仅限新型冠状病毒肺炎相关问题咨询</div>
                <!-- 在线义诊新增 tab-con 20200131 start -->
                <div class="zxyz-tab-con">
                    <div class="zxyz-lione">
                        <div class="doc-li-wrap other_str">

                        </div>
                    </div>
                </div>
                <!-- 在线义诊新增 tab-con 20200131 end -->

                <!-- 20200131 加医生分类导航及提示文字修改 lili   end -->
                <a href="/whfy/apply" class="doc-signup"><span>医生</span><br>义诊报名</a>
                <a href="/customer/index?source=zt" class="my-ask">我的问诊</a>
            </div>
            <!-- 在线义诊 end -->
        </div>
    </div>
</section>
<!-- Toast tips -->
<div id="fixTips" class="fix-tips fix-black-tips box-max-width">
    <div class="list-flex-in height-percent-80">
        <div class="fix-tips-text">提示文字</div>
    </div>
</div>
<!-- Toast tips end -->


<script type="text/javascript">
    /*阻止a标签跳转*/
    $("a").click(function (e) {
        e.preventDefault();
    })
    /* 医生接诊上限判断 提示 */
    /*
    $(".doc-list").click(function(){
        $("#fixTips .fix-tips-text").html("该医生今日已达接诊上限");
        errorHint();
        return false;
    })
    */
    // **** fixed popup
    isWeiXin()
    function errorHint(){
        $("#fixTips").show();
        setTimeout(function(){
            $("#fixTips").animate({display:'none'}).fadeOut();
        },1300);
    }

    var tabTop;
    tabShow();
    if($(".tab-nav li:eq(1)").hasClass("cur")){
        navTwoShow();
    }
    window.onload =function(){
        tabShow();
        if($(".tab-nav li:eq(1)").hasClass("cur")){
            navTwoShow();
        }
    };
    $(window).scroll(function(){
        // if($(window).scrollTop()>50){
        //     $(".top-tips-collection").hide(); // 收藏提示 隐藏
        // }
        tabShow();
        if($(".tab-nav li:eq(1)").hasClass("cur")){
            navTwoShow();
        }
    });
    // nav show / hide
    function tabShow(){
        tabTop = parseInt($(".tab-wrap").offset().top);
        if($(window).scrollTop()>tabTop){
            $(".tab-nav-wrap").addClass("tab-fix");
        }else{
            $(".tab-nav-wrap").removeClass("tab-fix");
        }
    }
    function navTwoShow(){
        var navTwo = parseInt($(".block02-top").offset().top),
            tabHeight = $(".tab-nav-wrap").height(),
            block02Height = $(".block02-top").height();
        var offsetTop = navTwo + block02Height - tabHeight;
        console.log(offsetTop);
        if($(window).scrollTop() > offsetTop){
            $(".block02-nav").addClass("block02-nav-fix");
            $(".block02-top").addClass("block02-top-mar");
        }else{
            $(".block02-nav").removeClass("block02-nav-fix");
            $(".block02-top").removeClass("block02-top-mar");
        }
    }
    //20200131
    function isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
            $(".fix-wrap-bottom").show();

        }else{
            $(".fix-wrap-bottom").hide();
            $(".bottom-height-2").remove();
        }
    }
    $(function(){
        //导航 切换
        var index = $(".tab-nav .cur").index();
        var indexTabText = $(".tab-nav .cur").find("span").html();
        $("#bannerName").html(indexTabText);
        // 头部条幅的显示隐藏切换   合作logo判断
        if(index == 2 && 1==1){
            $(".top-tips-one").show();      // 顶部uc红条
            $(".banner-kuaishou").hide();   // 快手
            $(".banner-360").hide();        // 360
            $(".banner-xxqg").hide();       // 学习强国
            $(".banner-zgqnb").hide();       // 中国青年报
            $(".banner-yllogo").show();     // 有来logo   （学习强国、中国青年报）来源需隐藏
            $(".img-banner-in").show();$(".img-banner-xxqg").hide();    // banner    （学习强国、中国青年报）来源需替换banner
        }
        if(index == 2 && 1==2){
            $(".banner-kuaishou").show();   // 快手
            $(".top-tips-one").hide();      // 顶部uc红条
            $(".banner-360").hide();        // 360
            $(".banner-xxqg").hide();       // 学习强国
            $(".banner-zgqnb").hide();       // 中国青年报
            $(".banner-yllogo").show();     // 有来logo   （学习强国、中国青年报）来源需隐藏
            $(".img-banner-in").show();$(".img-banner-xxqg").hide();    // banner    （学习强国、中国青年报）来源需替换banner
        }
        if(index == 2 && 1==3){
            $(".banner-kuaishou").hide();   // 快手
            $(".top-tips-one").hide();      // 顶部uc红条
            $(".banner-360").show();        // 360
            $(".banner-xxqg").hide();       // 学习强国
            $(".banner-zgqnb").hide();       // 中国青年报
            $(".banner-yllogo").show();     // 有来logo   （学习强国、中国青年报）来源需隐藏
            $(".img-banner-in").show();$(".img-banner-xxqg").hide();    // banner    （学习强国、中国青年报）来源需替换banner
        }
        if(index == 2 && 1==4){
            $(".banner-kuaishou").hide();   // 快手
            $(".top-tips-one").hide();      // 顶部uc红条
            $(".banner-360").hide();        // 360
            $(".banner-xxqg").show();       // 学习强国
            $(".banner-zgqnb").hide();       // 中国青年报
            $(".banner-yllogo").hide();     // 有来logo   （学习强国、中国青年报）来源需隐藏
            $(".img-banner-in").hide();$(".img-banner-xxqg").show();    // banner    （学习强国、中国青年报）来源需替换banner
            $("#bannerName").html("在线义诊");

        }
        if(index == 2 && 1==5){
            $(".banner-kuaishou").hide();   // 快手
            $(".top-tips-one").hide();      // 顶部uc红条
            $(".banner-360").hide();        // 360
            $(".banner-xxqg").hide();       // 学习强国
            $(".banner-zgqnb").show();       // 中国青年报
            $(".banner-yllogo").hide();     // 有来logo   （学习强国、中国青年报）来源需隐藏
            $(".img-banner-in").hide();$(".img-banner-xxqg").show();    // banner    （学习强国、中国青年报）来源需替换banner

        }

        $(".tab-con .lione").eq(index).show().siblings(".lione").hide();
        $(".tab-con").css("opacity","1");
        $(".tab-nav li").click(function(){
            $(this).addClass("cur").siblings().removeClass("cur");
            $(".tab-con .lione").eq($(this).index()).show().siblings(".lione").hide();
            $(this).find(".new").hide();
            if($(".tab-nav-wrap").hasClass("tab-fix")){
                var tabTop = parseInt($(".tab-wrap").offset().top);
                $('html,body').animate({ scrollTop: tabTop+5 }, 300);
            }
            if($(".block02-nav").hasClass("block02-nav-fix")){
                $(".block02-nav").removeClass("block02-nav-fix");
                $(".block02-top").removeClass("block02-top-mar");
            }
            var indexTabText = $(this).find("span").html();
            $("#bannerName").html(indexTabText);
            // 头部条幅的显示隐藏切换   合作logo判断
            if($(this).index() == 2 && 1==1){
                $(".top-tips-one").show();      // 顶部uc红条
                $(".banner-kuaishou").hide();   // 快手
                $(".banner-360").hide();        // 360
                $(".banner-xxqg").hide();       // 学习强国
                $(".banner-zgqnb").hide();       // 中国青年报
                $(".banner-yllogo").show();     // 有来logo   学习强国来源需隐藏
                $(".img-banner-in").show();$(".img-banner-xxqg").hide();    // banner    学习强国来源需替换banner
            }else if($(this).index() == 2 && 1==2){
                $(".top-tips-one").hide();      // 顶部uc红条
                $(".banner-kuaishou").show();   // 快手
                $(".banner-360").hide();        // 360
                $(".banner-xxqg").hide();       // 学习强国
                $(".banner-zgqnb").hide();       // 中国青年报
                $(".banner-yllogo").show();     // 有来logo   学习强国来源需隐藏
                $(".img-banner-in").show();$(".img-banner-xxqg").hide();    // banner    学习强国来源需替换banner
            }else if($(this).index() == 2 && 1==3){
                $(".top-tips-one").hide();      // 顶部uc红条
                $(".banner-kuaishou").hide();   // 快手
                $(".banner-360").show();        // 360
                $(".banner-xxqg").hide();       // 学习强国
                $(".banner-zgqnb").hide();       // 中国青年报
                $(".banner-yllogo").show();     // 有来logo   学习强国来源需隐藏
                $(".img-banner-in").show();$(".img-banner-xxqg").hide();    // banner    学习强国来源需替换banner
            }else if($(this).index() == 2 && 1==4){
                $(".top-tips-one").hide();      // 顶部uc红条
                $(".banner-kuaishou").hide();   // 快手
                $(".banner-360").hide();        // 360
                $(".banner-xxqg").show();       // 学习强国
                $(".banner-zgqnb").hide();       // 中国青年报
                $(".banner-yllogo").hide();     // 有来logo   学习强国来源需隐藏
                $(".img-banner-in").hide();$(".img-banner-xxqg").show();    // banner    学习强国来源需替换banner
            }else if($(this).index() == 2 && 1==5){
                $(".top-tips-one").hide();      // 顶部uc红条
                $(".banner-kuaishou").hide();   // 快手
                $(".banner-360").hide();        // 360
                $(".banner-xxqg").hide();       // 学习强国
                $(".banner-zgqnb").show();       // 中国青年报
                $(".banner-yllogo").hide();     // 有来logo   学习强国来源需隐藏
                $(".img-banner-in").hide();$(".img-banner-xxqg").show();    // banner    学习强国来源需替换banner
            }else{
                $(".top-tips-one").hide();      // 顶部uc红条
                $(".banner-kuaishou").hide();   // 快手
                $(".banner-360").hide();        // 360
                $(".banner-xxqg").hide();       // 学习强国
                $(".banner-zgqnb").hide();       // 中国青年报
                $(".banner-yllogo").show();     // 有来logo   学习强国来源需隐藏
                $(".img-banner-in").show();$(".img-banner-xxqg").hide();    // banner    学习强国来源需替换banner
            }
        });

        //在线义诊 导航 切换
        var zxyzIndex = $(".zxyz-tab-nav .cur").index();
        $(".zxyz-tab-con .zxyz-lione").eq(zxyzIndex).show().siblings(".zxyz-lione").hide();
        $(".zxyz-tab-nav li").click(function(){
            $(this).addClass("cur").siblings().removeClass("cur");
            $(".zxyz-tab-con .zxyz-lione").eq($(this).index()).show().siblings(".zxyz-lione").hide();
        });

        //国内病例 切换
        $(".place .info").click(function(){
            var $this = $(this).parent(".place");
            if($this.hasClass("current")){
                $this.removeClass("current");
            }else{
                $this.addClass("current");
            }
        });
        // 收藏提示 隐藏
        $(".top-tips-collection").click(function(){
            $(this).hide();
        });
        setTimeout(function(){
            $(".top-tips-collection").animate({display:'none'}).fadeOut();
        },2000);
        // 点击 中国加油 显示提示框
        $("#goChinaIn").click(function(){
            $(this).addClass("go-china-click");
            $("#layerShare").show();
            $.ajax ({
                type: 'GET',
                url: "/whfy/zan",
                async: false,
                success:function(e){
                    $(".go-china-num").html(e+"人次加油")
                    $(".share-num").html(e)
                }
            })
        });
        // 点击 中国加油 显示提示框
        $(".share-btn").click(function(){
            $("#layerShare").hide();
            $(".fix-share").show();
        });
        //close
        $(".close-layer").click(function(){
            $(".fix-layer-wrap").hide();
        });
        //close
        $(".fix-share").click(function(){
            $(this).hide();
        });

        //设置来源cookie
        var source = getUrlParam("source");
        console.log(source);
        var referr = document.referrer;



    })
</script>





</body>
</html>



















